@model Portal.Areas.tratruoc.Models.eloadPttb
@using TM.Message;
@{
    ViewBag.Title = "Quản lý tài khoản ELoad";
    ViewBag.ContentTitle = "Thêm mới tài khoản ELoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="stb">Số thuê bao</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control text-box single-line" id="stb" name="stb" type="text" value="@Html.DisplayFor(m=>m.stb)"
                                       data-val="true" data-val-required="Vui lòng nhập số thuê bao">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="stb" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="tentb">Tên thuê bao</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="tentb" name="tentb" type="text" value="@(Html.DisplayFor(m=>m.tentb))"
                                       data-val="true" data-val-required="Vui lòng nhập tên thuê bao">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="tentb" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="ngaysinh">Ngày sinh</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker">
                                <input type="text" class="form-control" id="ngaysinh" name="ngaysinh" autocomplete="off" value="@(Model!=null&&Model.ngaysinh.HasValue?Model.ngaysinh.Value.ToString("dd/MM/yyyy"):"")" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="socmt">Số CMT</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="socmt" name="socmt" type="text" value="@(Html.DisplayFor(m=>m.socmt))"
                                       data-val="true" data-val-required="Vui lòng nhập số CMT">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="socmt" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="ngaycap">Ngày cấp</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker end_at">
                                <input type="text" class="form-control" id="ngaycap" name="ngaycap" autocomplete="off" value="@(Model!=null&&Model.ngaycap.HasValue?Model.ngaycap.Value.ToString("dd/MM/yyyy"):"")" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="noicap">Nơi cấp</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="noicap" name="noicap" type="text" value="@(Html.DisplayFor(m=>m.noicap))"
                                       data-val="true" data-val-required="Vui lòng nhập nơi cấp">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="noicap" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="diachi">Địa chỉ</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="diachi" name="diachi" type="text" value="@(Html.DisplayFor(m=>m.diachi))"
                                       data-val="true" data-val-required="Vui lòng nhập địa chỉ">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="diachi" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="nguoidk">Người đăng ký</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="nguoidk" name="nguoidk" type="text" value="@(Html.DisplayFor(m=>m.nguoidk))"
                                       data-val="true" data-val-required="Vui lòng nhập người đăng ký">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="nguoidk" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="ngaydk">Ngày đăng ký</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker end_at">
                                <input type="text" class="form-control" id="ngaydk" name="ngaydk" autocomplete="off" value="@(Model!=null&&Model.ngaydk.HasValue?Model.ngaydk.Value.ToString("dd/MM/yyyy"):"")" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="ngaysua">Ngày sửa</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker end_at">
                                <input type="text" class="form-control" id="ngaysua" name="ngaysua" autocomplete="off" value="@(Model!=null&&Model.ngaysua.HasValue?Model.ngaysua.Value.ToString("dd/MM/yyyy"):"")" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="diachidl">Địa chỉ đại lý</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="diachidl" name="diachidl" type="text" value="@(Html.DisplayFor(m=>m.diachidl))"
                                       data-val="true" data-val-required="Vui lòng nhập địa chỉ đại lý">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="diachidl" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="matinh">Mã tỉnh</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="matinh" name="matinh" type="text" value="@(Html.DisplayFor(m=>m.matinh))"
                                       data-val="true" data-val-required="Vui lòng nhập mã tỉnh">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="matinh" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="khuvuc">Khu vực</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="khuvuc" name="khuvuc" type="text" value="@(Html.DisplayFor(m=>m.khuvuc))"
                                       data-val="true" data-val-required="Vui lòng nhập khu vực">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="khuvuc" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="localID">Đơn vị</label>
                        <div class="col-md-9">
                            <select name="localID" class="form-control">
                                @foreach (var item in (List<Portal.Models.local>)ViewBag.local)
                                {
                                    <option @(Model != null && Model.localID == item.id ? "selected" : "") value="@item.id">@item.title</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-4" for="flag">Ảnh CMT</label>
                        <div class="checkbox">
                            <label><input type="radio" name="anhcmt" value="1" @(Model != null ? (Model.flag == 1 ? "checked" : "") : "checked") /> Có</label>
                            <label><input type="radio" name="anhcmt" value="0" @(Model != null && Model.flag == 0 ? "checked" : "") /> Không</label>
                        </div>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" @(Model != null ? (Model.flag == 1 ? "checked" : "") : "checked") /> @TM.Common.Language.active</label>
                            <label><input type="radio" name="flag" value="0" @(Model != null && Model.flag == 0 ? "checked" : "") /> @TM.Common.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Upload", "EloadPTTB", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cập nhật từ tệp Excel</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    Chọn tệp Excel (.xls hoặc .xlsx)
                </div>
                <div class="form-group">
                    <label for="fileUpload">
                        <span class="btn btn-primary">Chọn tệp</span>
                    </label>
                    <input type="file" id="fileUpload" name="fileUpload" class="hidden" />
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="@TM.Common.Language.upload" class="btn btn-primary" />
                <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
            </div>
        </div>
    </div>
}
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        $('.datetimepicker').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY',
        });
    </script>
}