@model Portal.Models.eloadPttb

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eloadPttb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tendaydu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendaydu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noicap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noicap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoidk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoidk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachidl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachidl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khuvuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khuvuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anhcmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anhcmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
