@model Portal.Models.item

@{
    ViewBag.Title = "Quản lý bàn giao văn bản";
    ViewBag.ContentTitle = "Thêm mới bàn giao văn bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="code_key">Mã văn bản</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
                                <input class="form-control text-box single-line" id="code_key" name="code_key" type="text" value="@Html.DisplayFor(m=>m.code_key)"
                                       data-val="true" data-val-required="Vui lòng nhập mã văn bản">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="code_key" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="title">Tiêu đề văn bản</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="title" name="title" type="text" value="@Html.DisplayFor(m=>m.title)"
                                       data-val="true" data-val-required="Vui lòng nhập tiêu đề văn bản">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="started_at">Ngày bắt đầu</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input type="text" class="form-control" id="started_at" name="started_at" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="ended_at">Ngày kết thúc</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker end_at">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input type="text" class="form-control" id="ended_at" name="ended_at" autocomplete="off" />
                                <span class="input-group-addon removeDate" data-toggle="tooltip" data-placement="right" data-original-title="Không giới hạn thời gian hoàn thành"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="extrasSelected">Nhân viên</label>
                        <div class="col-md-9">
                            <div id="UserListGroup"></div>
                            <span class="btn btn-primary" data-toggle="modal" id="extrasSelected" data-target=".bs-example-modal-lg"><i class="glyphicon glyphicon-search"></i> Tìm nhân viên</span>
                            <input type="hidden" name="extras" id="extras" value="" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="upload">Bản mềm đính kèm</label>
                        <div class="col-md-9">
                            <label for="upload" class="btn btn-success"><span class="glyphicon glyphicon-paperclip"></span></label>
                            <input type="file" name="upload" id="upload" class="hidden" multiple />
                            <span class="field-validation-valid text-danger" data-valmsg-for="code_key" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nội dung văn bản - Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-3" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" checked /> @TM.Common.Language.active</label>
                            <label><input type="radio" name="flag" value="0" /> @TM.Common.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="UserList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("UserList")'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="right" title="Đóng"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chọn sản phẩm</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <span type="button" class="btn btn-default" data-dismiss="modal">Quay lại</span>
                <span type="button" class="btn btn-primary selected" data-dismiss="modal">Chọn</span>
            </div>
        </div>
    </div>
</div>
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        $('.datetimepicker').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY',
        });
        $('.removeDate').on('click', function () {
            //$(this).prev().val('');
            $('.end_at').data("DateTimePicker").destroy();
            $('#ended_at').val('');
            //$('.end_at').datetimepicker({ defaultDate: '' });
        });
        $.fn.TMCheckBox(".chkall", ".chkitem", ".btn-chk");
        $('#customer_id').autocomplete({
            source: '@Url.Action("getCustomer")',
            minLength: 2
        });
        $('#UserList').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            //modal.find('.modal-title').text('New message to ' + recipient);
            //modal.find('.modal-body input').val(recipient);
            var body = modal.find('.modal-body');
            GetList($('#UserList').data('url'), body);
        })
        function GetList(url, body) {
            $.get(url, function (d) {
                body.html(d);
                $('#UserList').find('.pagination li a').each(function () {
                    $(this).attr('data-url', $(this).attr('href')).attr('href', '#')
                })
            });
        }
        $(document).on('change', '#department', function () {
            var url = null;
            //if ($('#searchString').val().length > 0) {
            url = "@(Html.Raw(Url.Action("UserList", new
            {
                order = ViewBag.order,
                flag = ViewBag.flag,
                })))";
            url += (url.indexOf("?") > 0 ? url : "?") + "&department=" + $('#department').val();
            //}
            if (url != null)
                GetList(url, $('#UserList').find('.modal-body'));
        })
        $(document).on('click', '#UserList .pagination li a', function () {
            var url = $(this).attr('data-url');//undefined
            if (url != null)
                GetList(url, $('#UserList').find('.modal-body'));
        })
        $(document).on('click', '#UserList .orderby', function () {
            var url = $(this).attr('data-url');//undefined
            if (url != null)
                GetList(url, $('#UserList').find('.modal-body'));
        })
        $(document).on('click', '#search-addon-partial', function () {
            var url = null;
            //if ($('#searchString').val().length > 0) {
            url = "@(Html.Raw(Url.Action("UserList", new
            {
                order = ViewBag.order,
                flag = ViewBag.flag,
                })))";
            url += (url.indexOf("?") > 0 ? url : "?") + "&searchString=" + $('#searchString').val();
            //}
            if (url != null)
                GetList(url, $('#UserList').find('.modal-body'));
        })
        $(document).on('click', '#TableSelected tr', function () {
            var checkbox = $(this).find('input[type="checkbox"]');
            if (checkbox.prop('checked') == true) {
                checkbox.prop('checked', false);
            } else
                checkbox.prop('checked', true);
        });
        $(document).on('click', '#UserList .selected', function () {
            var table = $('#TableSelected');
            var totalItem = 0;
            var value = ',';
            var UserListGroup = '';
            $('#UserList').find('.chkitem').each(function () {
                if ($(this).prop('checked') == true) {
                    var tr = $(this).parents('tr');
                    value += tr.attr('id') + ",";
                    UserListGroup += '<button type="button" class="btn btn-danger btn-xs" data-value="' + tr.attr('id') + '">' + tr.children('td:eq(2)').html() + '</button>';
                    totalItem++;
                }
            })
            if (totalItem > 0) {
                $('#extras').val(value);
                $('#UserListGroup').html(UserListGroup + '<div class="clearfix mb10"></div>');
            }
        })
        $(document).on('click', '#UserListGroup .btn', function () {
            $(this).remove();
            $('#extras').val($('#extras').val().replace(',' + $(this).attr('data-value') + ',', ','));
        })
    </script>
}