@{
    ViewBag.Title = "Thay đổi mật khẩu";
    ViewBag.ContentTitle = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="id" name="id" value="@Authentication.Auth.AuthUser.id.ToString()" />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cập nhật hồ sơ</h3>
                </div>
                <div class="panel-body label-center">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="oldpassword">Mật khẩu hiện tại</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line oldpassword" data-val="true"
                                   data-val-required="Vui lòng nhập mật khẩu" id="oldpassword" name="oldpassword" type="password" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="oldpassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="password">Mật khẩu mới</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line password" data-val="true"
                                   data-val-required="Vui lòng nhập mật khẩu" id="password" name="password" type="password" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="repeatPassword">Xác nhận mật khẩu</label>
                        <div class="col-md-9 asterisk">
                            <input name="repeatPassword" class="form-control text-box single-line password" id="repeatPassword"
                                   type="password" value="" data-val="true" data-val-equalto-other="*.password"
                                   data-val-equalto="Xác nhận mật khẩu mới chưa đúng">
                            <span class="field-validation-valid text-danger" data-valmsg-for="repeatPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <input type="submit" value="@TM.Common.Language.update" class="btn btn-primary" />
                    @Html.ActionLink(TM.Common.Language.backlink, "../", null, new { @class = "btn btn-info" })
                    @*@Html.ActionLink(TM.Common.Language.backlink, "Index", null, new { @class = "btn btn-info" })*@

                    @*<input type="submit" value="@TM.Common.Language.update" class="btn btn-default" />*@
                </div>
            </div>
        </div>
    </div>
}
@section ScriptForm { @Html.Partial("ScriptForm")}
