@model Portal.Models.user

@{
    ViewBag.Title = "Cập nhật thông tin tài khoản";
    ViewBag.ContentTitle = "Cập nhật thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal support-input">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cập nhật thông tin tài khoản: <label class="label label-danger">@Html.DisplayFor(model => model.username)</label></h3>
                </div>
                <div class="panel-body label-center">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="staff_id">Phòng ban</label>
                        <div class="col-md-9">
                            <select id="staff_id" name="staff_id" class="form-control">
                                @foreach (var item in (List<Portal.Models.group>)ViewBag.Department)
                                {
                                    <option value="@item.id" @(item.id == Model.staff_id ? "selected" : "")>@item.title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="full_name">Họ tên</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="full_name" name="full_name" type="text"
                                   value="@Html.DisplayFor(model => model.full_name)" data-val="true" data-val-required="Vui lòng nhập đầy đủ họ tên">
                            <span class="field-validation-valid text-danger" data-valmsg-for="full_name" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="mobile">Số điện thoại</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="mobile" name="mobile" type="number"
                                   value="@Html.DisplayFor(model => model.mobile)" data-val="true" data-val-number="Điện thoại phải là số">
                            <span class="field-validation-valid text-danger" data-valmsg-for="mobile" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="email">Email</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="email" name="email" type="email"
                                   value="@Html.DisplayFor(model => model.email)" data-val="true" data-val-email="Sai định dạng Email">
                            <span class="field-validation-valid text-danger" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Địa chỉ</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="address" name="address" class="tinymce">@(Model != null ? Html.Raw(Model.address) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-4" for="customer_id">Người lập</label>
                        <label class="col-md-8">@Portal.Controllers.BaseController.GetUser(Model.created_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="customer_id">Ngày lập</label>
                        <label class="col-md-8">@(Model.created_at.HasValue ? Model.created_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="customer_id">Người sửa</label>
                        <label class="col-md-8">@Portal.Controllers.BaseController.GetUser(Model.updated_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="customer_id">Ngày sửa</label>
                        <label class="col-md-8">@(Model.updated_at.HasValue ? Model.updated_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="customer_id">Đăng nhập cuối</label>
                        <label class="col-md-8">@(Model.last_login.HasValue ? Model.last_login.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <hr />
                    <div class="form-group option-label">
                        <label class="col-md-3" for="flag">Trạng thái</label>
                        <div class="col-md-9 checkbox">
                            <label><input type="radio" name="flag" value="1" @(Model.flag == 1 ? "checked" : "") /> Sử dụng</label>
                            <label><input type="radio" name="flag" value="0" @(Model.flag == 0 ? "checked" : "") /> Khóa</label>
                        </div>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="roles">Quyền</label>
                        <div class="col-md-9 checkbox">
                            <label><input type="radio" name="roles" value="@Authentication.Roles.admin" @(Model.roles == Authentication.Roles.admin ? "checked" : "") /> Admin</label>
                            <label><input type="radio" name="roles" value="@Authentication.Roles.mod" @(Model.roles == Authentication.Roles.mod ? "checked" : "") /> Mod</label>
                            <label><input type="radio" name="roles" value="@Authentication.Roles.director" @(Model.roles == Authentication.Roles.director ? "checked" : "") /> Giám đốc</label>
                            <label><input type="radio" name="roles" value="@Authentication.Roles.manager" @(Model.roles == Authentication.Roles.manager ? "checked" : "") /> Trưởng phòng</label>
                            <label><input type="radio" name="roles" value="@Authentication.Roles.leader" @(Model.roles == Authentication.Roles.leader ? "checked" : "") /> Tổ trưởng</label>
                            <label><input type="radio" name="roles" value="@Authentication.Roles.staff" @(Model.roles == Authentication.Roles.staff ? "checked" : "") /> Nhân viên</label>
                            <label><input type="radio" name="roles" value="@Authentication.Roles.managerBill" @(Model.roles == Authentication.Roles.managerBill ? "checked" : "") /> Cước</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.update" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptForm { @Html.Partial("ScriptForm")}