@model PagedList.IPagedList<dynamic>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách tài khoản";
    ViewBag.ContentTitle = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="pull-left">
    <button onclick="window.location='@Url.Action("Create")'" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> @TM.Common.Language.addnew</button>
</p>
<div class="pull-right mb10 form-inline">
    @Html.Partial("search")
    <div class="pull-right">
        <a href="@Url.Action("Index",new { export = "export"})" class="btn btn-info"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        @if (ViewBag.flag == 0)
        {
            <a href="javascript:;" class="btn btn-info btn-flag btn-chk" data-toggle="tooltip" title="Khôi phục tất cả" style="display:none"><i class="glyphicon glyphicon-refresh"></i></a>
            if (Portal.Common.Auth.isAuth && Portal.Common.Auth.inRoles(new string[] { Authentication.Roles.admin, Authentication.Roles.superadmin }))
            {
                <a href="javascript:;" class="glyphicon glyphicon-remove btn btn-danger btn-trash btn-chk" data-toggle="tooltip" title="Xóa vĩnh viễn" style="display:none"></a>
            }
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 1 })" class="btn btn-default" data-toggle="tooltip" title="Hiển thị sử dụng"><i class="glyphicon glyphicon-th-list"></i></a>
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 0 })" class="btn btn-default active" data-toggle="tooltip" title="Hiển thị nháp"><i class="glyphicon glyphicon-retweet"></i></a>
        }
        else
        {
            <a href="javascript:;" class="btn btn-danger btn-flag btn-chk" data-toggle="tooltip" title="Xóa tất cả" style="display:none"><i class="glyphicon glyphicon-trash"></i></a>
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 1 })" class="btn btn-default active" data-toggle="tooltip" title="Hiển thị sử dụng"><i class="glyphicon glyphicon-th-list"></i></a>
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 0 })" class="btn btn-default" data-toggle="tooltip" title="Hiển thị nháp"><i class="glyphicon glyphicon-retweet"></i></a>
        }
    </div>
</div>
<div class="clearfix"></div>
@if (Model == null || Model.Count() < 1)
{
    <div class="alert alert-warning" role="alert">@TM.Common.Language.emptydb</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-head">
            <thead>
                <tr>
                    <th class="tbl-index">STT</th>
                    <th>
                        @Html.ActionLink("Tài khoản", "Index",
                        new
                        {
                            order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "group_asc" ? "group_desc" : "group_asc",
                            currentFilter = ViewBag.currentFilter,
                            flag = ViewBag.flag,
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Tên đày đủ", "Index",
                        new
                        {
                            order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "group_asc" ? "group_desc" : "group_asc",
                            currentFilter = ViewBag.currentFilter,
                            flag = ViewBag.flag,
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Phòng ban", "Index",
                        new
                        {
                            order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "group_asc" ? "group_desc" : "group_asc",
                            currentFilter = ViewBag.currentFilter,
                            flag = ViewBag.flag,
                        })
                    </th>
                    <th>Quyền</th>
                    <th class="tbl-reset-pass">Đặt lại mật khẩu</th>
                    @*<th class="tbl-cmd">#</th>*@
                    <th class="tbl-checkbox">
                        <label><input type="checkbox" name="checkboxs" value="all" class="chkall" /></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int index = 0;}
                @foreach (dynamic item in (IEnumerable<dynamic>)Model)
                {
                    <tr id="@item.id">
                        <td class="center">@(index += 1)</td>
                        <td class="link-action">
                            <a href="@Url.Action("Edit/"+item.id)"> @item.username</a>
                        </td>
                        <td class="link-action">
                            <a href="@Url.Action("Edit/"+item.id)"> @item.fullname</a>
                        </td>
                        <td class="link-action">
                            @item.staffname
                        </td>
                        <td class="link-action">
                            @if (item.roles == Authentication.Roles.admin)
                            {
                                <span class="label label-danger">Admin</span>
                            }
                            else if (item.roles == Authentication.Roles.mod)
                            {
                                <span class="label label-info">Mod</span>
                            }
                            else if (item.roles == Authentication.Roles.director)
                            {
                                <span class="label label-primary">Giám đốc</span>
                            }
                            else if (item.roles == Authentication.Roles.manager)
                            {
                                <span class="label label-success">Trưởng phòng</span>
                            }
                            else if (item.roles == Authentication.Roles.leader)
                            {
                                <span class="label label-success">Tổ trưởng</span>
                            }
                            else if (item.roles == Authentication.Roles.staff)
                            {
                                <span class="label label-warning">Nhân viên</span>
                            }
                            else if (item.roles == Authentication.Roles.managerBill)
                            {
                                <span class="label label-warning">Cước</span>
                            }
                            else
                            {
                                <span class="label label-danger">Supper Admin</span>
                            }
                        </td>
                        <td class="center">
                            @Html.ActionLink("Đặt lại mật khẩu", "ResetPassword", new { id = item.id }, new { @class = "label label-warning" })
                        </td>
                        <td class="tbl-checkbox">
                            <label><input type="checkbox" name="checkbox" value="@item.id" class="chkitem" /></label>
                        </td>
                        @*<td class="center tbl-cmd">
                                @Html.ActionLink(TM.Common.Language.edit, "Edit", new { id = item.id }, new { @class = "label label-primary" }) | <a class="label label-danger delete-row" href="javascript:;">Xóa</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination-list">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount trong tổng số (@ViewBag.TotalRecords bản ghi)
        @Html.PagedListPager(Model, page => Url.Action("Index",
                              new
                              {
                                  page,
                                  order = ViewBag.order,
                                  currentFilter = ViewBag.currentFilter,
                                  flag = ViewBag.flag
                              }))
    </div>
}
@section ScriptList { @Html.Partial("ScriptList")}