@model PagedList.IPagedList<Portal.Models.FileManager>
@using PagedList.Mvc;
@using System.Linq;
@{
    ViewBag.Title = "Danh sách Tệp";
    ViewBag.ContentTitle = "Danh sách Tệp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TM.Url.getQueryString("dir") != null)
{
    <a href="javascript:window.history.go(-1)" class="btn btn-info">Quay lại</a>
}
<div class="pull-right mb10 form-inline">
    @Html.Partial("search")
    <div class="pull-right">
        <a href="@Url.Action("Index",new { export = "export"})" class="btn btn-info"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        @if (ViewBag.flag == 0)
        {
            <a href="javascript:;" class="btn btn-info btn-flag btn-chk" data-toggle="tooltip" title="Khôi phục tất cả" style="display:none"><i class="glyphicon glyphicon-refresh"></i></a>
            if (Authentication.Auth.isAuth && Authentication.Auth.inRoles(new string[] { Authentication.Roles.admin, Authentication.Roles.superadmin }))
            {
                <a href="javascript:;" class="glyphicon glyphicon-remove btn btn-danger btn-trash btn-chk" data-toggle="tooltip" title="Xóa vĩnh viễn" style="display:none"></a>
            }
            <a href="@Url.Action("Index",new { dir = ViewBag.dir, datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 1 })" class="btn btn-default" data-toggle="tooltip" title="Hiển thị sử dụng"><i class="glyphicon glyphicon-th-list"></i></a>
            <a href="@Url.Action("Index",new { dir = ViewBag.dir, datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 0 })" class="btn btn-default active" data-toggle="tooltip" title="Hiển thị nháp"><i class="glyphicon glyphicon-retweet"></i></a>
        }
        else
        {
            <a href="javascript:;" class="btn btn-success btn-download btn-chk" data-toggle="tooltip" title="Tải tệp" style="display:none"><i class="glyphicon glyphicon-download"></i></a>
            <a href="javascript:;" class="btn btn-danger btn-flag btn-chk" data-toggle="tooltip" title="Xóa tất cả" style="display:none"><i class="glyphicon glyphicon-trash"></i></a>
            <a href="@Url.Action("Index",new { dir = ViewBag.dir, datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 1 })" class="btn btn-default active" data-toggle="tooltip" title="Hiển thị sử dụng"><i class="glyphicon glyphicon-th-list"></i></a>
            <a href="@Url.Action("Index",new { dir = ViewBag.dir, datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 0 })" class="btn btn-default" data-toggle="tooltip" title="Hiển thị nháp"><i class="glyphicon glyphicon-retweet"></i></a>
        }
    </div>
</div>
<div class="clearfix"></div>
<div class="pull-right mb10">
    @{
        var datetime = ViewBag.datetime != null ? ((string)ViewBag.datetime).Split('-') : new string[0];
    }
    <form id="frmSearchDatetime" method="get" action="" class="form-inline">
        <div class="input-group date datetimepicker">
            <input type="text" class="form-control" id="started_at" name="started_at" autocomplete="off" placeholder="Nhập ngày bắt đầu" data-toggle="tooltip" data-placement="top" title="Nhập ngày bắt đầu" value="@(datetime.Length>0?datetime[0]:"")" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="input-group date datetimepicker end_at">
            <input type="text" class="form-control" id="ended_at" name="ended_at" autocomplete="off" placeholder="Nhập ngày kết thúc" data-toggle="tooltip" data-placement="top" title="Nhập ngày kết thúc" value="@(datetime.Length>1?datetime[1]:"")" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <a id="SearchDatetime" href="javascript:;" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a>
        <div class="btn-group datetimeType" data-toggle="buttons">
            <label data-val="0" class="btn btn-warning @(ViewBag.datetimeType != null ? (ViewBag.datetimeType == 0 ? "active" : "") : "active")">
                <input type="radio" name="datetimeType" value="0" autocomplete="off"> Ngày tạo
            </label>
            <label data-val="1" class="btn btn-warning @(ViewBag.datetimeType != null ? (ViewBag.datetimeType == 1 ? "active" : "") : "")">
                <input type="radio" name="datetimeType" value="1" autocomplete="off"> Ngày sửa
            </label>
        </div>
    </form>
</div>
<div class="clearfix"></div>
@if (Model == null || Model.Count < 1)
{
    <div class="alert alert-warning" role="alert">@TM.Common.Language.emptydb</div>
}
else
{
    <table class="table-responsive table table-hover table-bordered table-head">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Tên", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "name_asc" ? "name_desc" : "name_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                       dir = ViewBag.dir
                   })
                </th>
                <th class="col-md-1">
                    @Html.ActionLink("Kiểu", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "type_asc" ? "type_desc" : "type_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                       dir = ViewBag.dir
                   })
                </th>
                <th>
                    @Html.ActionLink("Kích thước", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "size_asc" ? "size_desc" : "size_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                       dir = ViewBag.dir
                   })
                </th>
                <th class="col-md-2">
                    @Html.ActionLink("Ngày tạo", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "createdat_asc" ? "createdat_desc" : "createdat_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                       dir = ViewBag.dir
                   })
                </th>
                <th class="col-md-2">
                    @Html.ActionLink("Ngày cập nhật", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "updatedat_asc" ? "updatedat_desc" : "updatedat_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                       dir = ViewBag.dir
                   })
                </th>
                <th  class="tbl-checkbox">#</th>
                <th class="tbl-checkbox">
                    <label><input type="checkbox" name="checkboxs" value="all" class="chkall" /></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr id="@item.ID">
                    <td class="link-action">
                        @if (item.Type == TM.Common.Objects.FileManager.directory) { 
                        <a href="@Url.Action("Index", new {
                                order = ViewBag.order,
                                currentFilter = ViewBag.currentFilter,
                                flag = ViewBag.flag,
                                datetime = ViewBag.datetime,
                                datetimeType = ViewBag.datetimeType,
                                dir = item.Subdirectory + item.Name + "\\"
                            })">
                            <i class="@item.ExtensionIcon list-file-item"></i>@item.Name
                        </a>
                        }
                        else
                        {
                            <a href="javascript:void(0)">
                                <i class="@item.ExtensionIcon list-file-item"></i>@item.Name
                            </a>
                            @*<a href="@Url.Action("Download", new {
                                order = ViewBag.order,
                                currentFilter = ViewBag.currentFilter,
                                flag = ViewBag.flag,
                                datetime = ViewBag.datetime,
                                datetimeType = ViewBag.datetimeType,
                                dir = item.Subdirectory + item.Name + "/"
                            })">
                                <i class="@item.ExtensionIcon list-file-item"></i>@item.Name
                            </a>*@
                        }
                    </td>
                    <td class="link-action">@item.Type</td>
                    <td class="link-action">@item.Length</td>
                    <td class="link-action">@(item.CreationTime.HasValue ? item.CreationTime.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</td>
                    <td class="link-action">@(item.LastWriteTime.HasValue ? item.LastWriteTime.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</td>
                    <td class="tbl-checkbox"><a href="@Url.Action("Download", new { files = item.ID })"><label><i class="glyphicon glyphicon-download"></i></label></a></td>
                    <td class="tbl-checkbox">
                        <label><input type="checkbox" name="checkbox" value="" class="chkitem" /></label>
                    </td>
                </tr>
            }
            @*@foreach (FileInfo item in ViewBag.files)
                {
                    <tr id="@item.Name">
                        <td class="link-action">
                            <a href="@Url.Action("Download", new { dir = TM.Url.getQueryString("dir"), file = item.Name })">
                                @if (item.Extension.ToLower() == ".xls" || item.Extension.ToLower() == ".xlsx")
                                {
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                }
                                else if (item.Extension.ToLower() == ".dbf")
                                {
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                }
                                @(item.Name.Replace(item.Extension, "") + item.Extension.ToLower())
                            </a>
                        </td>
                        <td class="link-action">@item.LastWriteTime.ToString()</td>
                        <td class="link-action">Tệp (@item.Extension.ToLower())</td>
                        <td class="link-action">@((item.Length / 1024).ToString("N0")) KB</td>
                        <td class="tbl-checkbox">
                            <label><input type="checkbox" name="checkbox" value="" class="chkitem" /></label>
                        </td>
                    </tr>
                }*@
        </tbody>
    </table>
    <div class="pagination-list">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount trong tổng số (@ViewBag.TotalRecords bản ghi)
        @Html.PagedListPager(Model, page => Url.Action("Index",
                         new
                         {
                             page,
                             order = ViewBag.order,
                             currentFilter = ViewBag.currentFilter,
                             flag = ViewBag.flag,
                             datetime = ViewBag.datetime,
                             datetimeType = ViewBag.datetimeType,
                             dir = ViewBag.dir
                         }))
    </div>
    <div class="clearfix mb20"></div>
    if (TM.Url.getQueryString("dir") != null)
    {
        <a href="javascript:window.history.go(-1)" class="btn btn-info">Quay lại</a>
    }
}
<div class="clearfix mb20"></div>
@if (Authentication.Auth.AuthUser.roles == Authentication.Roles.admin)
{
    <a class="btn btn-primary" href="@Url.Action("ExtensionToLower")">Extension To Lower</a>
    <a class="btn btn-primary" href="@Url.Action("LoadData")">Load Data</a>
    <a class="btn btn-primary" href="@Url.Action("BackupDatabase")">Backup Database</a>
}

@section ScriptList {
    @Html.Partial("ScriptListFile")
    <script>
        $('.datetimepicker').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY',
        });
    </script>
}