@model Portal.Models.item

@{
    ViewBag.Title = "Quản lý bàn giao văn bản";
    ViewBag.ContentTitle = "Thêm mới bàn giao văn bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="code_key">Mã văn bản</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
                                <input class="form-control text-box single-line" id="code_key" name="code_key" type="text" value="@Html.DisplayFor(m=>m.code_key)"
                                       data-val="true" data-val-required="Vui lòng nhập mã văn bản">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="code_key" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="title">Tiêu đề văn bản</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="title" name="title" type="text" value="@Html.DisplayFor(m=>m.title)"
                                       data-val="true" data-val-required="Vui lòng nhập tiêu đề văn bản">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="started_at">Ngày bắt đầu</label>
                        <label class="col-md-9 control-label label-value">@(Model.started_at.HasValue ? Model.started_at.Value.ToString("dd/MM/yyyy") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="ended_at">Ngày kết thúc</label>
                        <label class="col-md-9 control-label label-value">@(Model.ended_at.HasValue ? Model.ended_at.Value.ToString("dd/MM/yyyy") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="extrasSelected">Nhân viên</label>
                        <div class="col-md-9">
                            <div id="UserListGroup" class="btn-group">
                                @{ var userList = Model.extras.Trim(',').Split(','); }
                                @foreach (var u in userList)
                                {
                                    <span class="btn btn-danger btn-xs" data-value="@u">@Portal.Controllers.BaseController.GetUser(u)</span>
                                }
                            </div>
                            <div class="clearfix mb10"></div>
                            <input type="hidden" name="extras" id="extras" value="@Model.extras" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="upload">Bản mềm đính kèm</label>
                        <div class="col-md-9">
                            @if (Model.attach != null && !string.IsNullOrEmpty(Model.attach.Trim(',')))
                            {
                                <div class="">
                                    @{
                                        var file = Model.attach.Trim(',').Split(',');
                                    }
                                    @foreach (var item in file)
                                    {
                                        <a href="@Url.Action("Download", "Base", new {area="",dir=TM.Common.Directories.document,file=item,__RequestVerificationToken=TM.Helper.Strings.htmlAttr(Html.AntiForgeryToken())})" class="btn btn-warning download"><span class="glyphicon glyphicon-save-file"></span> @item</a>
                                    }
                                </div>
                                <div class="clearfix mb10"></div>
                                        }
                            <label for="isAttach"><input id="isAttach" name="isAttach" type="checkbox" checked value="1" /> Giữ lại file hiện tại</label>
                            <div class="clearfix"></div>
                            <label for="upload" class="btn btn-success"><span class="glyphicon glyphicon-paperclip"></span></label>
                            <input type="file" name="upload" id="upload" class="hidden" multiple />
                            <span class="field-validation-valid text-danger" data-valmsg-for="code_key" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nội dung văn bản - Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Người lập</label>
                        <label class="col-md-9">@Portal.Controllers.BaseController.GetUser(Model.created_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Ngày lập</label>
                        <label class="col-md-9">@(Model.created_at.HasValue ? Model.created_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Người sửa</label>
                        <label class="col-md-9">@Portal.Controllers.BaseController.GetUser(Model.updated_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Ngày sửa</label>
                        <label class="col-md-9">@(Model.updated_at.HasValue ? Model.updated_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="flag">Trạng thái xử lý</label>
                        @if (Model.quantity == 1)
                        {
                            <span class="label label-success">Đang xử lý</span>
                        }
                        else if (Model.quantity == 2)
                        {
                            <span class="label label-success">Đã xử lý</span>
                        }
                        else
                        {
                            <span class="label label-warning">Chờ xử lý</span>
                        }
                    </div>

                    @*<hr />
                            <div class="form-group option-label">
                            <label class="col-md-3" for="flag">Trạng thái</label>
                            <div class="checkbox">
                                <label><input type="radio" name="flag" value="1" @(Model.flag == 1 ? "checked" : "") /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="flag" value="0" @(Model.flag == 0 ? "checked" : "")/> @TM.Common.Language.draft</label>
                            </div>
                        </div>*@
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.update" class="btn btn-primary" />
                    <button id="accept" class="btn btn-warning">Xác nhận</button>
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
                                        }
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        $('#accept').on('click', function () {
            $.post('@Url.Action("Accept")', { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(), 'id': '@Model.id' },
                function (d) {
                    if (d.success)
                        $('#TMAlert').TMAlert({ message: d.success })
                })
        })
        @*$('.download').on('click', function () {
            $.post('@Url.Action("Download", "Base", new { area=""})', { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(), 'dir': $(this).attr('data-dir'), 'file': $(this).attr('data-file') },
                function (d) {
                    if (d.success)
                        $('#TMAlert').TMAlert({ message: d.success })
                })
        })*@
    </script>
}