@model Portal.Models.group

@{
    ViewBag.Title = "Quản lý dịch vụ kênh thuê riêng";
    ViewBag.ContentTitle = "Thêm mới dịch vụ kênh thuê riêng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 mb10">
    <div id="services" class="btn-group" data-toggle="buttons">
        <label class="btn btn-info active" data-target="@Portal.Common.Objects.groups.ktr">
            <input type="radio" id="servicesKTR" autocomplete="off" value="@Portal.Common.Objects.groups.ktr" checked> Kênh thuê riêng
        </label>
        <label class="btn btn-info" data-target="@Portal.Common.Objects.groups.token">
            <input type="radio" id="servicesCAIVAN" autocomplete="off" value="@Portal.Common.Objects.groups.token"> Token
        </label>
        <label class="btn btn-info" data-target="@Portal.Common.Objects.groups.ca">
            <input type="radio" id="servicesCAIVAN" autocomplete="off" value="@Portal.Common.Objects.groups.ca"> CA - Chữ ký số
        </label>
        <label class="btn btn-info" data-target="@Portal.Common.Objects.groups.ivan">
            <input type="radio" id="servicesCAIVAN" autocomplete="off" value="@Portal.Common.Objects.groups.ivan"> IVAN - BHXH
        </label>
    </div>
</div>
<div id="@Portal.Common.Objects.groups.ktr">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="app_key" value="@Portal.Common.Objects.groups.ktr" />
        <div class="form-horizontal">
            <hr />
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nhập thông tin</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="title">Tên dịch vụ</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="title" name="title" type="text" value="@Html.DisplayFor(m=>m.title)"
                                       data-val="true" data-val-required="Vui lòng nhập tên dịch vụ">
                                <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="level">Tốc độ đường truyền</label>
                            <div class="col-md-3 asterisk">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" id="level" name="level" type="number" value="@Html.DisplayFor(m=>m.level)"
                                           data-val="true" data-val-required="Vui lòng nhập tốc độ đường truyền" data-val-number="Tốc độ đường truyền phải là số">
                                    <span class="input-group-addon">Mb&nbsp;</span>
                                </div>
                                <span class="field-validation-valid text-danger" data-valmsg-for="level" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="parent_id">Phí dịch vụ</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="parent_id" name="parent_id" type="number" value="@(Model!=null? Model.parent_id:"0")"
                                       data-val="true" data-val-required="Vui lòng nhập giá tiền" data-val-number="Phí dich vụ phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="parent_id" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="parents_id">Phí thiết bị</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="parents_id" name="parents_id" type="number" value="@(Model!=null?Model.parents_id:"0")"
                                       data-val="true" data-val-required="Vui lòng nhập phí thiết bị Token" data-val-number="Phí thiết bị phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="parents_id" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("PanelFooterNotes")
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ghi chú</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thực hiện</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group option-label">
                            <label class="col-md-3" for="flag">Trạng thái</label>
                            <div class="checkbox">
                                <label><input type="radio" name="flag" value="1" checked /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="flag" value="0" /> @TM.Common.Language.draft</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                        <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="@Portal.Common.Objects.groups.ca" style="display:none">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="app_key" value="@Portal.Common.Objects.groups.ca" />
        <div class="form-horizontal">
            <hr />
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nhập thông tin</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="title">Tên gói</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="title" name="title" type="text" value="@Html.DisplayFor(m=>m.title)"
                                       data-val="true" data-val-required="Vui lòng nhập tên gói">
                                <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="level">Tháng</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="level" name="level" type="number" value="@Html.DisplayFor(m=>m.level)"
                                       data-val="true" data-val-required="Vui lòng nhập số tháng" data-val-number="Số tháng phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="level" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="parent_id">Phí dịch vụ</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="parent_id" name="parent_id" type="number" value="@(Model!=null? Model.parent_id:"0")"
                                       data-val="true" data-val-required="Vui lòng nhập giá tiền" data-val-number="Phí dich vụ phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="parent_id" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="parents_id">Phí thiết bị</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="parents_id" name="parents_id" type="number" value="@(Model!=null?Model.parents_id:"0")"
                                       data-val="true" data-val-required="Vui lòng nhập phí thiết bị Token" data-val-number="Phí thiết bị phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="parents_id" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("PanelFooterNotes")
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ghi chú</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thực hiện</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group option-label">
                            <label class="col-md-3" for="flag">Trạng thái</label>
                            <div class="checkbox">
                                <label><input type="radio" name="flag" value="1" checked /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="flag" value="0" /> @TM.Common.Language.draft</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                        <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="@Portal.Common.Objects.groups.token" style="display:none">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="app_key" value="@Portal.Common.Objects.groups.token" />
        <div class="form-horizontal">
            <hr />
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nhập thông tin</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="title">Tên gói</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="title" name="title" type="text" value="@Html.DisplayFor(m=>m.title)"
                                       data-val="true" data-val-required="Vui lòng nhập tên gói">
                                <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="level">Tháng</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="level" name="level" type="number" value="@Html.DisplayFor(m=>m.level)"
                                       data-val="true" data-val-required="Vui lòng nhập số tháng" data-val-number="Số tháng phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="level" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="parent_id">Phí dịch vụ</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="parent_id" name="parent_id" type="number" value="@(Model!=null? Model.parent_id:"0")"
                                       data-val="true" data-val-required="Vui lòng nhập giá tiền" data-val-number="Phí dich vụ phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="parent_id" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label setting-label col-md-3" for="parents_id">Phí thiết bị</label>
                            <div class="col-md-9 asterisk">
                                <input class="form-control text-box single-line" id="parents_id" name="parents_id" type="number" value="@Html.DisplayFor(m=>m.parents_id)"
                                       data-val="true" data-val-required="Vui lòng nhập phí thiết bị Token" data-val-number="Phí thiết bị phải là số">
                                <span class="field-validation-valid text-danger" data-valmsg-for="parents_id" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("PanelFooterNotes")
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ghi chú</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thực hiện</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group option-label">
                            <label class="col-md-3" for="flag">Trạng thái</label>
                            <div class="checkbox">
                                <label><input type="radio" name="flag" value="1" checked /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="flag" value="0" /> @TM.Common.Language.draft</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                        <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="@Portal.Common.Objects.groups.ivan" style="display:none">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="app_key" value="@Portal.Common.Objects.groups.ivan" />
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="title">Tên gói</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="title" name="title" type="text" value="@Html.DisplayFor(m=>m.title)"
                                   data-val="true" data-val-required="Vui lòng nhập tên gói">
                            <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="level">Tháng</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="level" name="level" type="number" value="@Html.DisplayFor(m=>m.level)"
                                   data-val="true" data-val-required="Vui lòng nhập số tháng" data-val-number="Số tháng phải là số">
                            <span class="field-validation-valid text-danger" data-valmsg-for="level" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="parent_id">Phí dịch vụ</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="parent_id" name="parent_id" type="number" value="@(Model!=null? Model.parent_id:"0")"
                                   data-val="true" data-val-required="Vui lòng nhập giá tiền" data-val-number="Phí dich vụ phải là số">
                            <span class="field-validation-valid text-danger" data-valmsg-for="parent_id" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="parents_id">Phí thiết bị</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="parents_id" name="parents_id" type="number" value="@(Model!=null?Model.parents_id:"0")"
                                   data-val="true" data-val-required="Vui lòng nhập phí thiết bị Token" data-val-number="Phí thiết bị phải là số">
                            <span class="field-validation-valid text-danger" data-valmsg-for="parents_id" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="parents_id">Tích hợp CA</label>
                        <div class="col-md-9">
                            <label><input type="radio" name="extras" value="1" @(Model!=null ? (Model.extras == "1" ? "checked" : ""): "checked")/> @TM.Common.Language.use</label>
                            <label><input type="radio" name="extras" value="0" @(Model!=null && Model.extras == "0" ? "checked" : "") /> @TM.Common.Language.noUse</label>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-3" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" checked /> @TM.Common.Language.active</label>
                            <label><input type="radio" name="flag" value="0" /> @TM.Common.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                    <a href="javascript:;" onclick="window.history.go(-1)" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        function btnGroup() {
            $('#services .btn').each(function () {
                if (!$(this).hasClass('active')) $('#' + $(this).attr('data-target')).hide();
                else $('#' + $(this).attr('data-target')).show();
            })
        }
        btnGroup();
        $('#services').on('click', '.btn', function () {
            $('#services .btn').each(function () { $('#' + $(this).attr('data-target')).hide(); })
            $('#' + $(this).attr('data-target')).show();
        })
    </script>
}