@model Portal.Models.BangGiaCuoc

@{
    ViewBag.Title = "Bảng giá cước";
    ViewBag.ContentTitle = "Cập nhật gói cước";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "BangGiaCuoc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="profile">Profile</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="profile" name="profile" type="text" disabled value="@Html.DisplayFor(m=>m.profile)"
                                       data-val="true" data-val-required="Vui lòng nhập Profile"
                                       data-val-remote="Profile đã tồn tại!" data-val-remote-additionalfields="*.profile"
                                       data-val-remote-type="POST" data-val-remote-url="@Url.Action("check_exist_profile","BangGiaCuoc")">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="profile" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="tenGoi">Tên gói</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-sticky-note-o"></i></span>
                                <input class="form-control text-box single-line" id="tenGoi" name="tenGoi" type="text" value="@Html.DisplayFor(m=>m.tenGoi)"
                                       data-val="true" data-val-required="Vui lòng nhập tên gói cước">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="tenGoi" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="tocDo">Tốc độ</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="tocDo" name="tocDo" type="number" value="@Html.DisplayFor(m=>m.tocDo)"
                                       data-val="true" data-val-required="Vui lòng nhập tốc độ">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="tocDo" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="gia">Giá cước</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="gia" name="gia" type="number" value="@Html.DisplayFor(m=>m.gia)"
                                       data-val="true" data-val-required="Vui lòng nhập giá cước">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="gia" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="kieu">Kiểu dịch vụ</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="kieu" name="kieu" type="text" value="@Html.DisplayFor(m=>m.kieu)"
                                       data-val="true" data-val-required="Vui lòng nhập kiểu dịch vụ">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="kieu" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="kieuID">Kiểu dịch vụ ID</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="kieuID" name="kieuID" type="number" value="@Html.DisplayFor(m=>m.kieuID)"
                                       data-val="true" data-val-required="Vui lòng nhập kiểu dịch vụ ID">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="kieuID" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="goicuocId">Gói cước ID</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="goicuocId" name="goicuocId" type="number" value="@Html.DisplayFor(m=>m.goicuocId)"
                                       data-val="true" data-val-required="Vui lòng nhập gói cước ID">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="goicuocId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="tichhopId">Tích hợp ID</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input class="form-control text-box single-line" id="tichhopId" name="tichhopId" type="number" value="@Html.DisplayFor(m=>m.tichhopId)"
                                       data-val="true" data-val-required="Vui lòng nhập tích hợp ID">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="tichhopId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="isLuuLuong">Sử dụng lưu lượng</label>
                        <div class="col-md-9 asterisk">
                            <div class="checkbox">
                                <label><input type="radio" name="isLuuLuong" value="1" @(Model != null ? (Model.isLuuLuong == 1 ? "checked" : "") : "checked") /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="isLuuLuong" value="0" @(Model != null && Model.isLuuLuong == 0 ? "checked" : "") /> @TM.Common.Language.deactive</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="isTichHop">Là tích hợp</label>
                        <div class="col-md-9 asterisk">
                            <div class="checkbox">
                                <label><input type="radio" name="isTichHop" value="1" @(Model != null ? (Model.isTichHop == 1 ? "checked" : "") : "checked") /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="isTichHop" value="0" @(Model != null && Model.isTichHop == 0 ? "checked" : "") /> @TM.Common.Language.deactive</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="startAt">Ngày bắt đầu</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group date startDate">
                                <input type="text" class="form-control" id="startAt" name="startAt" autocomplete="off" placeholder="Nhập ngày bắt đầu" data-toggle="tooltip" data-placement="bottom" title="Nhập ngày bắt đầu" value="@Html.DisplayFor(m=>m.startAt)" />
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="endAt">Ngày kết thúc</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group date endDate end_at">
                                <input type="text" class="form-control" id="endAt" name="endAt" autocomplete="off" placeholder="Nhập ngày kết thúc" data-toggle="tooltip" data-placement="bottom" title="Nhập ngày kết thúc" value="@Html.DisplayFor(m=>m.endAt)" />
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.ghichu) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                        <div class="form-group option-label">
                            <label class="col-md-3" for="flag">Trạng thái</label>
                            <div class="checkbox">
                                <label><input type="radio" name="flag" value="1" @(Model != null ? (Model.flag == 1 ? "checked" : "") : "checked") /> @TM.Common.Language.active</label>
                                <label><input type="radio" name="flag" value="0" @(Model != null && Model.flag == 0 ? "checked" : "") /> @TM.Common.Language.draft</label>
                            </div>
                        </div>
                    </div>
                <div class="panel-body">
                    <input type="submit" value="@TM.Common.Language.update" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptForm { @Html.Partial("ScriptForm")}