@model Portal.Areas.tratruoc.Models.eloadUser

@{
    ViewBag.Title = "Quản lý tài khoản ELoad";
    ViewBag.ContentTitle = "Thêm mới tài khoản ELoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="department">Phòng Ban</label>
                        <div class="col-md-9">
                            <select name="department" class="form-control">
                                @foreach (var item in (List<Portal.Models.group>)ViewBag.department)
                                {
                                    <option @(Model != null && Model.department == item.id ? "selected" : "") value="@item.id">@item.title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="manager">Nhân viên quản lý</label>
                        <div class="col-md-9">
                            <select name="manager" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="eloadNumber">Số Eload</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control text-box single-line" id="eloadNumber" name="eloadNumber" type="text" value="@Html.DisplayFor(m=>m.eloadNumber)"
                                       data-val="true" data-val-required="Vui lòng nhập tài khoản">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="eloadNumber" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="fullName">Tên đầy đủ</label>
                        <div class="col-md-9 asterisk">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input class="form-control text-box single-line" id="fullName" name="fullName" type="text" value="@(Html.DisplayFor(m=>m.fullName))"
                                       data-val="true" data-val-required="Vui lòng nhập mật khẩu">
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="fullName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="localID">Loại Eload</label>
                        <div class="col-md-9">
                            <select name="eloadType" class="form-control">
                                <option value="NVKD">NVKD</option>
                                <option value="CTV">CTV</option>
                                <option value="DBL">DBL</option>
                                <option value="DCCDVVT">DCCDVVT</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="startedAt">Ngày bắt đầu</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker">
                                <input type="text" class="form-control" id="startedAt" name="startedAt" autocomplete="off" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="endedAt">Ngày kết thúc</label>
                        <div class="col-md-9">
                            <div class="input-group date datetimepicker end_at">
                                <input type="text" class="form-control" id="endedAt" name="endedAt" autocomplete="off" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-4" for="isLock">Trạng thái Khóa</label>
                        <div class="checkbox">
                            <label><input type="radio" name="isLock" value="0" @(Model != null ? (Model.isLock == 0 ? "checked" : "") : "checked") /> @TM.Common.Language.notLock</label>
                            <label><input type="radio" name="isLock" value="1" @(Model != null && Model.isLock == 1 ? "checked" : "") /> @TM.Common.Language.locked</label>
                        </div>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-4" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" @(Model != null ? (Model.flag == 1 ? "checked" : "") : "checked") /> @TM.Common.Language.active</label>
                            <label><input type="radio" name="flag" value="0" @(Model != null && Model.flag == 0 ? "checked" : "") /> @TM.Common.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Upload", "EloadUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cập nhật từ tệp Excel</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    Chọn tệp Excel (.xls hoặc .xlsx)
                </div>
                <div class="form-group">
                    <label for="fileUpload">
                        <span class="btn btn-primary">Chọn tệp</span>
                    </label>
                    <input type="file" id="fileUpload" name="fileUpload" class="hidden" />
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="@TM.Common.Language.upload" class="btn btn-primary" />
                <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
            </div>
        </div>
    </div>
}
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        $(function () {
            getManager($('select[name="department"]'));
        })
        $('select[name="department"]').on('change', function () {
            getManager($(this));
        })
        function getManager(obj) {
            $.get('@Url.Action("getUserFromLocal")?id=' + obj.val(), function (d) {
                var str = '';
                for (var i = 0; i < d.data.length; i++) {
                    str += '<option value="' + d.data[i].id+'">' + d.data[i].full_name +'</option>';
                }
                $('select[name="manager"]').html(str)
            })
        }
        $('.datetimepicker').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY',
        });
    </script>
}