@model PagedList.IPagedList<dynamic>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tra cứu - Đối soát cước";
    ViewBag.ContentTitle = "Danh sách thuê bao theo đơn vị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="toolbar">

</div>
<table class="table table-hover table-bordered table-responsive" id="table"
       data-toolbar="#toolbar"
       data-click-to-select="false"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="false"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, 200, 500]"
       data-show-footer="false"
       data-side-pagination="server"
       data-response-handler="responseHandler"
       data-query-params="queryParams"
       data-url="@Url.Action("Select","Report",new { area = "Cuoc" })"
       data-url-create="Insert"
       data-url-edit="Update">
    <thead>
        <tr>
            <th data-events="chkEvents" data-field="state" data-checkbox="true" data-valign="middle">#</th>
            @*<th data-field="MA_KH" data-sortable="true" data-editable="true" data-valign="middle">MA_KH</th>*@
            <th data-events="cmdEvents" data-formatter="viewBillFomatter_MA_TT_HNI" data-field="MA_TT_HNI" data-sortable="true" data-editable="true" data-valign="middle">Mã thanh toán</th>
            @*<th data-field="ACCOUNT" data-sortable="true" data-editable="true" data-valign="middle">ACCOUNT</th>*@
            @*<th data-field="MA_TB" data-sortable="true" data-editable="true" data-valign="middle">MA_TB</th>*@
            <th data-field="TEN_TT" data-sortable="true" data-editable="true" data-valign="middle">Tên thanh toán</th>
            <th data-field="DIACHI_TT" data-sortable="true" data-editable="true" data-valign="middle">Địa chỉ thanh toán</th>
            <th data-events="cmdEvents" data-formatter="viewBillFomatter" data-align="center" data-valign="middle" data-width="50">#</th>
        </tr>
    </thead>
</table>
<div class="modal" id="BillDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Chi tiết cước theo mã thanh toán</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group date col-md-4">
                        <input type="text" class="form-control" id="TimeBill" name="TimeBill" autocomplete="off" placeholder="Kỳ cước" data-toggle="tooltip" data-placement="top" title="Kỳ cước" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dbkhid" />
                    <input type="hidden" id="MATT" />
                </div>
                <div class="modal-body-main">
                    <div class="center loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                    <div class="form-group results result-dbkh"></div>
                    <div class="form-group results result-hdcd"></div>
                    <div class="form-group results result-hddd"></div>
                    <div class="form-group results result-hdtv"></div>
                    <div class="form-group results result-hdnet"></div>
                    <div class="form-group results result-discount"></div>
                    <div class="form-group result-alert text-warning">Không có dữ liệu</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group results result-comment text-left"></div>
                <div class="form-group">
                    <div class="col-md-11 row"><input type="text" class="form-control txtDSC" placeholder="" /></div>
                    <span class="btn btn-warning btnSendDSC">Gửi yêu cầu</span>
                </div>
                <input type="hidden" id="cmtVal" />
            </div>
            <div class="modal-footer">
                <div class="form-group"><button type="button" class="btn btn-default" data-dismiss="modal">Quay lại</button></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section ScriptList {
    @Html.Partial("ScriptList")
    <script src="~/Plugin/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Plugin/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
    <script src="~/Plugin/bootstrap-table/extensions/export/tableExport.js"></script>
    <script src="~/Scripts/PartialList.js"></script>
    <script>
        AjaxLoad();
        var dateNow = moment().subtract(1, 'months');
        var dtpicker = $('.date').datetimepicker({
            viewMode: "months",
            //dayViewHeaderFormat: 'MMMM YYYY',
            defaultDate: new Date(dateNow.year(), dateNow.month()),
            format: 'MM/YYYY',
        });
        var token = { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() };
        //
        function viewBillFomatter_MA_TT_HNI(value, row, index) {
            return '<a href="javascript:;" class="viewBill">' + value + '</a>';
        };
        function viewBillFomatter(value, row, index) {
            return '<span class="badge badge-success viewBill" role="button"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>';
        };
        $('#BillDetails').on('hidden.bs.modal', function (e) {
            $(this).find('.results').html('');
            $('.modal-body-main .loading').removeClass('hide');
            $('.result-alert').removeClass('hide');
        });
        function checkNull(val) {
            return val === null ? '<label class="label label-warning">Không có dữ liệu</label>' : val;
        };
        function checkValueDiscount(val) {
            val = parseInt(val);
            switch (val) {
                case 1:
                    return ' %';
                case 2:
                    return ' VNĐ (Giảm trừ)';
                case 3:
                    return ' VNĐ (Fix Cước)';
                case 5:
                    return ' % (MyTV GD)';
                default:
                    return ' VNĐ';
            }
        };
        function getDonVi(ma_dvi) {
            ma_dvi = parseInt(ma_dvi);
            switch (ma_dvi) {
                case 1:
                    return 'Thành phố';
                case 2:
                    return 'Ba Bể';
                case 3:
                    return 'Bạch Thông';
                case 4:
                    return 'Chợ Đồn';
                case 5:
                    return 'Chợ Mới';
                case 6:
                    return 'Na Rì';
                case 7:
                    return 'Ngân Sơn';
                case 8:
                    return 'Pác Nặm';
                default:
                    return '';
            }
        };
        function AddComment(target, isSub, cmt) {
            if (cmt.length > 0) {
                html = '';
                for (var i = 0; i < cmt.length; i++) {
                    if (isSub)
                        html += '<div data-id="' + cmt[i].ID + '" style="padding-left:38px"><span class="text-info">' + cmt[i].CREATEDBY + '</span>: <span class="text-warning">' + cmt[i].CONTENTS + '</span></div>';
                    else {
                        if (cmt[i].LEVELS > 0) continue;
                        html += '<div class="form-group" data-user="' + cmt[i].CREATEDBY + '" data-id="' + cmt[i].ID + '"><span class="text-info">' + cmt[i].CREATEDBY + '</span>: <span class="text-warning">' + cmt[i].CONTENTS + '</span> - <span class="label label-danger pointer btnReply">Trả lời</span>';
                        for (var j = 0; j < cmt.length; j++) {
                            if (cmt[j].PARENT_ID == cmt[i].ID)
                                html += '<div data-id="' + cmt[j].ID + '" style="padding-left:38px"><span class="text-info">' + cmt[j].CREATEDBY + '</span>: <span class="text-warning">' + cmt[j].CONTENTS + '</span></div>';
                        }
                        html += '</div>';
                    }
                }
                target.append(html);//'.result-comment'
            }
        };
        function GetBillDetails(data) {
            //
            $('.result-alert').removeClass('hide');
            //$('.results').html('');
            $('.result-hdcd').html('');
            $('.result-hddd').html('');
            $('.result-hdtv').html('');
            $('.result-hdnet').html('');
            $('.result-discount').html('');
            $('.result-comment').html('');
            $('.txtDSC').val('').attr('placeholder', 'Nhập yêu cầu đối soát cước - Kỳ cước: ' + $('#TimeBill').val());
            $.post('@Url.Action("GetBillDetails")', data, function (d) {
                if (d.data) {
                    var dbkh = d.data.dbkh;
                    var hdcd = d.data.hdcd;
                    var hddd = d.data.hddd;
                    var hdtv = d.data.hdtv;
                    var hdnet = d.data.hdnet;
                    var discount = d.data.discount;
                    var cmt = d.data.cmt;
                    //dbkh
                    $('#dbkhid').val(dbkh.ID);
                    $('#MATT').val(dbkh.MA_TT_HNI);
                    var html =
                        '<table class="table table-no-bordered table-responsive">\
                                <tr><th>Mã khách hàng</th><td>' + dbkh.MA_KH + '</td></tr>\
                                <tr><th>Mã thanh toán</th><td>' + dbkh.MA_TT_HNI + '</td></tr>\
                                <tr><th>Tên thanh toán</th><td>' + dbkh.TEN_TT + '</td></tr>\
                                <tr><th>Địa chỉ thanh toán</th><td>' + dbkh.DIACHI_TT + '</td></tr>\
                                <tr><th>Điện thoại</th><td>' + checkNull(dbkh.DIENTHOAI) + '</td></tr>\
                                <tr><th>Mã số thuế</th><td>' + checkNull(dbkh.MS_THUE) + '</td></tr>\
                                <tr><th>Mã đơn vị</th><td>' + dbkh.MA_DVI + ' (' + getDonVi(dbkh.MA_DVI) + ')</td></tr>\
                                <tr><th>Mã cán bộ thu</th><td>' + checkNull(dbkh.MA_CBT) + '</td></tr>\
                                <tr><th>Mã tuyến</th><td>' + checkNull(dbkh.MA_TUYEN) + '</td></tr>\
                            </table>';
                    $('.result-dbkh').html(html);
                    //hdcd
                    if (hdcd.length > 0) {
                        html = '<label>Cước cố định</label><table class="table table-bordered table-responsive"><tr><th>Số Thuê bao</th><th>Tổng</th><th>VAT</th><th>Tổng cộng</th></tr>';
                        for (var i = 0; i < hdcd.length; i++) {
                            html += '<tr>\
                                    <td>' + hdcd[i].SO_TB + '</td>\
                                    <td>' + hdcd[i].TONG.format() + '</td>\
                                    <td>' + hdcd[i].VAT.format() + '</td>\
                                    <td class="text-danger bold">' + hdcd[i].TONGCONG.format() + '</td></tr>';
                        }
                        html += '</table>';
                        $('.result-hdcd').html(html);
                    }
                    //hddd
                    if (hddd.length > 0) {
                        html = '<label class="text-info">Cước di động</label><table class="table table-bordered table-responsive"><tr><th>Số Thuê bao</th><th>EZPay</th><th>Tổng</th><th>VAT</th><th>Tổng cộng</th></tr>';
                        for (var i = 0; i < hddd.length; i++) {
                            html += '<tr>\
                                    <td>' + hddd[i].SO_TB + '</td>\
                                    <td>' + (hddd[i].EZPAY == 1 ? 'Có' : 'Không') + '</td>\
                                    <td>' + hddd[i].TONG.format() + '</td>\
                                    <td>' + hddd[i].VAT.format() + '</td>\
                                    <td class="text-danger bold">' + hddd[i].TONGCONG.format() + '</td></tr>';
                        }
                        html += '</table>';
                        $('.result-hddd').html(html);
                    }
                    //hdtv
                    if (hdtv.length > 0) {
                        html = '<label class="text-info">Cước MyTV</label><table class="table table-bordered table-responsive">\
                            <tr><th>ACCOUNT</th><th>Tổng TTT</th><th>Tổng ĐC</th><th>PayTV</th><th>Cước</th><th>Tổng</th><th>VAT</th><th>Tổng cộng</th></tr>';
                        for (var i = 0; i < hdtv.length; i++) {
                            html += '<tr>\
                                    <td>' + hdtv[i].ACCOUNT + '</td>\
                                    <td>' + hdtv[i].TONG_TTT.format() + '</td>\
                                    <td>' + hdtv[i].TONG_DC.format() + '</td>\
                                    <td>' + hdtv[i].PAYTV_FEE.format() + '</td>\
                                    <td>' + (hdtv[i].TONG - hdtv[i].PAYTV_FEE).format() + '</td>\
                                    <td>' + hdtv[i].TONG.format() + '</td>\
                                    <td>' + hdtv[i].VAT.format() + '</td>\
                                    <td class="text-danger bold">' + hdtv[i].TONGCONG.format() + '</td></tr>';
                        }
                        html += '</table>';
                        $('.result-hdtv').html(html);
                    }
                    //hdnet
                    if (hdnet.length > 0) {
                        html = '<label class="text-info">Cước Internet</label><table class="table table-bordered table-responsive">\
                            <tr><th>ACCOUNT</th><th>Mã MEN</th><th>Tổng TTT</th><th>Tổng ĐC</th><th>Tổng in</th><th>Tổng</th><th>VAT</th><th>Tổng cộng</th></tr>';
                        for (var i = 0; i < hdnet.length; i++) {
                            html += '<tr>\
                                    <td>' + hdnet[i].ACCOUNT + '</td>\
                                    <td>' + hdnet[i].MA_TB + '</td>\
                                    <td>' + hdnet[i].TONG_TTT.format() + '</td>\
                                    <td>' + hdnet[i].TONG_DC.format() + '</td>\
                                    <td>' + hdnet[i].TONG_IN.format() + '</td>\
                                    <td>' + hdnet[i].TONG.format() + '</td>\
                                    <td>' + hdnet[i].VAT.format() + '</td>\
                                    <td class="text-danger bold">' + hdnet[i].TONGCONG.format() + '</td></tr>';
                        }
                        html += '</table>';
                        $('.result-hdnet').html(html);
                    }
                    //discount
                    if (discount.length > 0) {
                        html = '<label class="text-info">Danh sách khuyến mại - giảm giá</label><table class="table table-bordered table-responsive">\
                            <tr><th>ACCOUNT</th><th>Giá trị</th><th>Tháng bắt đầu</th><th>Tháng kết thúc</th><th>Ghi chú</th></tr>';
                        for (var i = 0; i < discount.length; i++) {
                            html += '<tr>\
                                    <td>' + discount[i].ACCOUNT + '</td>\
                                    <td>' + discount[i].VALUE.format() + checkValueDiscount(discount[i].TYPEID) + '</td>\
                                    <td>' + moment(discount[i].NGAY_BD).format('MM/YYYY') + '</td>\
                                    <td>' + (discount[i].NGAY_KT === null ? '' : moment(discount[i].NGAY_KT).format('MM/YYYY')) + '</td>\
                                    <td>' + checkNull(discount[i].DETAILS) + '</td>';
                        }
                        html += '</table>';
                        $('.result-discount').html(html);
                    }
                    //Comment
                    AddComment($('.result-comment'), false, cmt);
                    //
                    if (hdcd.length > 0 || hddd.length > 0 || hdnet.length > 0 || hdtv.length > 0)
                        $('.result-alert').addClass('hide');
                    //Loading
                    $('.modal-body-main .loading').addClass('hide');
                }
                //if (d.success) {
                //    $('#TMAlert').TMAlert({ type: "success", message: d.success });
                //    $("form")[0].reset();
                //}
                if (d.danger)
                    $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
                if (d.warning)
                    $('#TMAlert').TMAlert({ type: "warning", message: d.warning });
                if (d.url)
                    window.location = d.url;
            });
        };
        //Events bootstrapTable
        window.cmdEvents = {
            'click .viewBill': function (e, value, row, index) {
                $('#BillDetails').modal('show');
                var data = $.extend({}, token, { id: row.ID, TimeBill: $('#TimeBill').val() });
                GetBillDetails(data);
            }
        };
        $('.date').on('dp.change', function (e) {
            var data = $.extend({}, token, { id: $('#dbkhid').val(), TimeBill: $('#TimeBill').val() });
            GetBillDetails(data);
        });
        $(document).on('click', '.btnReply', function () {
            var parent = $(this).parent();
            if (parent.find('.formReply').length > 0) return;
            var html = '<div class="form-group formReply" style="text-align:right;padding-left:38px">\
                    <div class="col-md-11 row"><input type="text" class="form-control txtDSC" placeholder="Nhập trả lời ' + parent.attr('data-user') + ' - Kỳ cước: ' + $('#TimeBill').val() + '" /></div>\
                    <span class="btn btn-success btnSendDSC">Gửi yêu cầu</span>\
                </div>';
            parent.append(html);
            //
            $('.btnSendDSC').TMConfirm({
                modalOk: function (e) {
                    PostComment(e);
                },
                modalCancel: function () { }
            });
        });
        function PostComment(e) {
            var parent = $(e.parent());
            var mParent = $(parent.parent());
            var txtDSC = parent.find('.txtDSC');
            var content = $.trim(txtDSC.val());
            if (content.length < 1) {
                $('#TMAlert').TMAlert({ type: "danger", message: 'Vui lòng nhập nội dung yêu cầu!' });
                txtDSC.val('').focus();
                return;
            }
            var data = $.extend({}, token, { Parent: mParent.attr('data-id'), id: $('#dbkhid').val(), MATT: $('#MATT').val(), TimeBill: $('#TimeBill').val(), Contents: content });
            $.post('@Url.Action("PostComment")', data, function (d) {
                if (d.data) {
                    if (parent.hasClass('formReply')) {
                        parent.remove();
                        AddComment(mParent, true, d.data);
                    } else
                        AddComment($('.result-comment'), false, d.data);
                    txtDSC.val('');
                }
                //if (d.success) 
                //$('#TMAlert').TMAlert({ type: "success", message: d.success });
                if (d.danger)
                    $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
                if (d.warning)
                    $('#TMAlert').TMAlert({ type: "warning", message: d.warning });
                if (d.url)
                    window.location = d.url;
            });
        };
        $('.btnSendDSC').TMConfirm({
            modalOk: function (e) {
                PostComment(e);
            },
            modalCancel: function () { }
        });
       
        var checkAjaxNotification = true;
        $(document).ajaxComplete(function () {
            if (checkAjaxNotification && QueryString['id'] !== undefined && QueryString['time'] !== undefined) {
                var d = $('.date').data('DateTimePicker');
                d.date(moment('01/' + QueryString['time'], 'DD/MM/YYYY'));

                $('#BillDetails').modal('show');
                var data = $.extend({}, token, { id: QueryString['id'], timebill: $('#TimeBill').val() });
                GetBillDetails(data);
                checkAjaxNotification = false;
            }
        });
        @*$(document).on('click', '.btnSendDSC', function () {
            $(this).TMConfirm({
                modalOk: function (e) {
                    var parent = e.parent();
                    var txtDSC = parent.find('.txtDSC');
                    var content = $.trim(txtDSC.val());
                    console.log(e);
                    console.log(txtDSC);
                    if (content.length < 1) {
                        $('#TMAlert').TMAlert({ type: "danger", message: 'Vui lòng nhập nội dung yêu cầu!' });
                        txtDSC.val('').focus();
                        return;
                    }
                    var data = $.extend({}, token, { Parent: parent.attr('data-id'), MATT: $('#MATT').val(), TimeBill: $('#TimeBill').val(), Contents: content });
                    $.post('@Url.Action("PostComment")', data, function (d) {
                        if (d.success) {
                            AddComment(d.data);
                            parent.find('.formReply').remove();
                            txtDSC.val('');
                            //$('#TMAlert').TMAlert({ type: "success", message: d.success });
                        }
                        if (d.danger)
                            $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
                        if (d.warning)
                            $('#TMAlert').TMAlert({ type: "warning", message: d.warning });
                        if (d.url)
                            window.location = d.url;
                    });
                },
                modalCancel: function () { }
            });
        });*@
    </script>
}