@model Portal.Models.item

@{
    ViewBag.Title = "Quản trị công việc ngày";
    ViewBag.ContentTitle = "Cập nhật công việc ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())//"Edit", "CA", FormMethod.Post, new { enctype = "multipart/form-data" }
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="title">Tên việc</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="title" name="title" type="text" value="@(Model!=null?Model.title:"")"
                                   data-val="true" data-val-required="Vui lòng nhập tên tên việc">
                            <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="author">Nhóm việc</label>
                        <div class="col-md-9 asterisk">
                            @foreach (var item in (List<Portal.Models.group>)ViewBag.groups)
                            {
                                <div class="checkbox"><label><input type="checkbox" @(Model.author.Contains(item.id.ToString()) ? "checked" : "") name="author[]" value="@item.id"> @item.title</label></div>
                            }
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="attach">Đơn vị</label>
                        <div class="col-md-9 asterisk">
                            @foreach (var item in (List<Portal.Models.group>)ViewBag.department)
                            {
                                <div class="checkbox"><label><input type="checkbox" @(Model.attach.Contains(item.id.ToString()) ? "checked" : "") name="attach[]" value="@item.id"> @item.title</label></div>
                            }
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="url">Đơn vị tính</label>
                        <div class="col-md-3 asterisk">
                            <input class="form-control text-box single-line" id="url" name="url" type="text" value="@(Model!=null?Model.url:"")"
                                   data-val="true" data-val-required="Vui lòng nhập đơn vị tính">
                            <span class="field-validation-valid text-danger" data-valmsg-for="url" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="orders">Sắp xếp</label>
                        <div class="col-md-3 asterisk">
                            <input class="form-control text-box single-line" id="orders" name="orders" type="number" value="@(Model!=null?Model.orders:0)"
                                   data-val="true" data-val-required="Vui lòng nhập sắp xếp" data-val-number="Sắp xếp phải là số">
                            <span class="field-validation-valid text-danger" data-valmsg-for="orders" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ghi chú</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="desc" name="desc" class="tinymce">@(Model != null ? Html.Raw(Model.desc) : null)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Người lập</label>
                        <label class="col-md-9">@Portal.Controllers.BaseController.GetUser(Model.created_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Ngày lập</label>
                        <label class="col-md-9">@(Model.created_at.HasValue ? Model.created_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Người sửa</label>
                        <label class="col-md-9">@Portal.Controllers.BaseController.GetUser(Model.updated_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Ngày sửa</label>
                        <label class="col-md-9">@(Model.updated_at.HasValue ? Model.updated_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <hr />
                    <div class="form-group option-label">
                        <label class="col-md-3" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" @(Model != null ? (Model.flag == 1 ? "checked" : "") : "checked") /> @TM.Common.Language.active</label>
                            <label><input type="radio" name="flag" value="0" @(Model != null && Model.flag == 0 ? "checked" : "") /> @TM.Common.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.update" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptForm { @Html.Partial("ScriptForm")}