@model Portal.Models.collected_staff

@{
    ViewBag.Title = "Quản lý địa bàn";
    ViewBag.ContentTitle = "Cập nhật địa bàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal support-input">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cập nhật thông tin <label class="label label-danger">@Html.DisplayFor(model => model.id)</label></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="local_id">Đơn vị</label>
                        <div class="col-md-9 asterisk">
                            <select name="local_id" class="form-control">
                                @foreach (var item in (List<Portal.Models.local>)ViewBag.local)
                                {
                                    <option @(item.id == Model.local_id ? "selected" : "") value="@item.id">@item.title</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="local_id" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="nvql">Nhân viên quản lý</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="nvql" name="nvql" type="text" value="@Html.DisplayFor(model=>model.nvql)"
                                   data-val="true" data-val-required="Vui lòng nhập tên nhân viên quản lý">
                            <span class="field-validation-valid text-danger" data-valmsg-for="nvql" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="dia_chi">Địa chỉ</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="dia_chi" name="dia_chi" type="text" value="@Html.DisplayFor(model=>model.dia_chi)"
                                   data-val="true" data-val-required="Vui lòng nhập địa chỉ">
                            <span class="field-validation-valid text-danger" data-valmsg-for="dia_chi" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="xa_phuong">Xã/Phường</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="xa_phuong" name="xa_phuong" type="text" value="@Html.DisplayFor(model=>model.xa_phuong)"
                                   data-val="true">
                            <span class="field-validation-valid text-danger" data-valmsg-for="xa_phuong" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="to_thon">Tổ/Thôn</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" id="to_thon" name="to_thon" type="text" value="@Html.DisplayFor(model=>model.to_thon)"
                                   data-val="true">
                            <span class="field-validation-valid text-danger" data-valmsg-for="to_thon" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Người lập</label>
                        <label class="col-md-9">@Portal.Controllers.BaseController.GetUser(Model.created_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Ngày lập</label>
                        <label class="col-md-9">@(Model.created_at.HasValue ? Model.created_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Người sửa</label>
                        <label class="col-md-9">@Portal.Controllers.BaseController.GetUser(Model.updated_by)</label>
                    </div>
                    <div class="form-group option-label">
                        <label class="col-md-3" for="customer_id">Ngày sửa</label>
                        <label class="col-md-9">@(Model.updated_at.HasValue ? Model.updated_at.Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)</label>
                    </div>
                    <hr />
                    <div class="form-group option-label">
                        <label class="col-md-3" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" @(Model.flag == 1 ? "checked" : "") /> @TM.Common.Language.active</label>
                            <label><input type="radio" name="flag" value="0" @(Model.flag == 0 ? "checked" : "") /> @TM.Common.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@TM.Common.Language.update" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptForm { @Html.Partial("ScriptForm")}