@{
    ViewBag.Title = "Ghép hóa đơn";
    ViewBag.ContentTitle = "Xử lý hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@System.Text.RegularExpressions.Regex.Replace("hdnet0916ggGGDW.dbf", @"[a-zA-Z]", "")*@
@*@using (Html.BeginForm(new { enctype = "multipart/form-data" }))
    {*@
@{ var time = "201707";}
<form id="MerginBillForm" method="post" action="@TM.Url.BaseUrl/MerginBill/UploadFiles" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div id="panelCheckMoney" class="panel panel-default" style="display:none">
                <div class="panel-heading">
                    <h3 class="panel-title">Thống kê tổng hóa đơn</h3>
                    <span class="close-panel" data-target="panelCheckMoney"><i class="fa fa-close"></i></span>
                </div>
                <div class="panel-body mergin-hd">
                    <div class="col-md-12">
                        <h4>So sánh HD Ghép - HD từng loại</h4>
                        <p>
                            <table class="table table-hover table-bordered table-head table-responsive">
                                <tr>
                                    <th>#</th>
                                    <th>HD Ghép</th>
                                    <th>HD từng loại</th>
                                    <th>Lệch</th>
                                </tr>
                                <tr>
                                    <td><b>Cố định</b></td>
                                    <td id="ss_all_cd"></td>
                                    <td id="ss_hd_cd"></td>
                                    <td id="ss_sum_cd"></td>
                                </tr>
                                <tr>
                                    <td><b>Di động</b></td>
                                    <td id="ss_all_dd"></td>
                                    <td id="ss_hd_dd"></td>
                                    <td id="ss_sum_dd"></td>
                                </tr>
                                <tr>
                                    <td><b>NET</b></td>
                                    <td id="ss_all_net"></td>
                                    <td id="ss_hd_net"></td>
                                    <td id="ss_sum_net"></td>
                                </tr>
                                <tr>
                                    <td><b>TV</b></td>
                                    <td id="ss_all_tv"></td>
                                    <td id="ss_hd_tv"></td>
                                    <td id="ss_sum_tv"></td>
                                </tr>
                                <tr>
                                    <td><b>Đặt cọc</b></td>
                                    <td id="ss_all_datcoc"></td>
                                    <td id="ss_hd_datcoc"></td>
                                    <td id="ss_sum_datcoc"></td>
                                </tr>
                                <tr>
                                    <td><b>Trả trước</b></td>
                                    <td id="ss_all_tratruoc"></td>
                                    <td id="ss_hd_tratruoc"></td>
                                    <td id="ss_sum_tratruoc"></td>
                                </tr>
                                <tr>
                                    <td><b>Tổng</b></td>
                                    <td id="ss_all_tong"></td>
                                    <td id="ss_hd_tong"></td>
                                    <td id="ss_sum_tong"></td>
                                </tr>
                                <tr>
                                    <td><b>VAT</b></td>
                                    <td id="ss_all_vat"></td>
                                    <td id="ss_hd_vat"></td>
                                    <td id="ss_sum_vat"></td>
                                </tr>
                                <tr>
                                    <td><b>Không thuế</b></td>
                                    <td id="ss_all_kthue"></td>
                                    <td id="ss_hd_kthue"></td>
                                    <td id="ss_sum_kthue"></td>
                                </tr>
                                <tr>
                                    <td><b>Giảm trừ</b></td>
                                    <td id="ss_all_gtru"></td>
                                    <td id="ss_hd_gtru"></td>
                                    <td id="ss_sum_gtru"></td>
                                </tr>
                                <tr>
                                    <td><b>Tổng cộng</b></td>
                                    <td id="ss_all_tongcong"></td>
                                    <td id="ss_hd_tongcong"></td>
                                    <td id="ss_sum_tongcong"></td>
                                </tr>
                            </table>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <h4>Hóa đơn ghép</h4>
                        <p>
                            <div id="all_tong_cd" class="col-md-12 row"><b class="col-md-3">Tổng cố định: </b><span class="col-md-8 price"></span></div>
                            <div id="all_tong_dd" class="col-md-12 row"><b class="col-md-3">Tổng di động: </b><span class="col-md-8 price"></span></div>
                            <div id="all_tong_net" class="col-md-12 row"><b class="col-md-3">Tổng NET: </b><span class="col-md-8 price"></span></div>
                            <div id="all_tong_tv" class="col-md-12 row"><b class="col-md-3">Tổng TV: </b><span class="col-md-8 price"></span></div>
                            <div id="all_tong" class="col-md-12 row"><b class="col-md-3">Tổng: </b><span class="col-md-8 price"></span></div>
                            <div id="all_vat" class="col-md-12 row"><b class="col-md-3">VAT: </b><span class="col-md-8 price"></span></div>
                            <div id="all_kthue" class="col-md-12 row"><b class="col-md-3">Tổng Ko thuế: </b><span class="col-md-8 price"></span></div>
                            <div id="all_gtru" class="col-md-12 row"><b class="col-md-3">Giảm trừ: </b><span class="col-md-8 price"></span></div>
                            <div id="all_tongcong" class="col-md-12 row"><b class="col-md-3">Tổng cộng: </b><span class="col-md-8 price"></span></div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Hóa đơn cố định</h4>
                        <p>
                            <div id="cd_tong" class="col-md-12 row"><b class="col-md-5">Tổng: </b><span class="col-md-7 price"></span></div>
                            <div id="cd_vat" class="col-md-12 row"><b class="col-md-5">VAT: </b><span class="col-md-7 price"></span></div>
                            <div id="cd_tongcong" class="col-md-12 row"><b class="col-md-5">Tổng cộng: </b><span class="col-md-7 price"></span></div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Hóa đơn di động</h4>
                        <p>
                            <div id="dd_tong" class="col-md-12 row"><b class="col-md-5">Tổng có thuế: </b><span class="col-md-7 price"></span></div>
                            <div id="dd_kthue" class="col-md-12 row"><b class="col-md-5">Tổng Ko thuế: </b><span class="col-md-7 price"></span></div>
                            <div id="dd_gtru" class="col-md-12 row"><b class="col-md-5">Giảm trừ: </b><span class="col-md-7 price"></span></div>
                            <div id="dd_vat" class="col-md-12 row"><b class="col-md-5">VAT: </b><span class="col-md-7 price"></span></div>
                            <div id="dd_tongcong" class="col-md-12 row"><b class="col-md-5">Tổng cộng: </b><span class="col-md-7 price"></span></div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Hóa đơn NET</h4>
                        <p>
                            <div id="net_datcoc" class="col-md-12 row"><b class="col-md-5">Đặt coc: </b><span class="col-md-7 price"></span></div>
                            <div id="net_tratruoc" class="col-md-12 row"><b class="col-md-5">Trả trước: </b><span class="col-md-7 price"></span></div>
                            <div id="net_tong" class="col-md-12 row"><b class="col-md-5">Tổng: </b><span class="col-md-7 price"></span></div>
                            <div id="net_vat" class="col-md-12 row"><b class="col-md-5">VAT: </b><span class="col-md-7 price"></span></div>
                            <div id="net_tongcong" class="col-md-12 row"><b class="col-md-5">Tổng cộng: </b><span class="col-md-7 price"></span></div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Hóa đơn TV</h4>
                        <p>
                            <div id="tv_datcoc" class="col-md-12 row"><b class="col-md-5">Đặt coc: </b><span class="col-md-7 price"></span></div>
                            <div id="tv_tratruoc" class="col-md-12 row"><b class="col-md-5">Trả trước: </b><span class="col-md-7 price"></span></div>
                            <div id="tv_tong" class="col-md-12 row"><b class="col-md-5">Tổng: </b><span class="col-md-7 price"></span></div>
                            <div id="tv_vat" class="col-md-12 row"><b class="col-md-5">VAT: </b><span class="col-md-7 price"></span></div>
                            <div id="tv_tongcong" class="col-md-12 row"><b class="col-md-5">Tổng cộng: </b><span class="col-md-7 price"></span></div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ghép hóa đơn cố định - di động - net - mytv và chọn 4 tệp .dbf (V2.0)</h3>
                </div>
                <div class="panel-body label-center">
                    <div class="form-group required">
                        @*<label class="control-label col-md-3" for="FileUpload">Hợp đồng cố định</label>*@
                        <div class="col-md-12 asterisk">
                            <input type="file" id="FileUpload" name="FileUpload" class="file-upload" multiple data-val="true"
                                   data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                            <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    @*<div class="form-group required">
                            <label class="control-label col-md-3" for="hdnet">Hợp đồng net</label>
                            <div class="col-md-9">
                                <input type="file" id="hdnet" name="hdnet" data-val-required="Vui lòng chọn file hợp đồng cố định theo định dạnh hd+thang+nam" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="hdnet" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label col-md-3" for="hdtv">Hợp đồng Mytv</label>
                            <div class="col-md-9">
                                <input type="file" id="hdtv" name="hdtv" data-val-required="Vui lòng chọn file hợp đồng cố định theo định dạnh hd+thang+nam" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="hdtv" data-valmsg-replace="true"></span>
                            </div>
                        </div>*@
                </div>
                <div class="panel-footer">
                    <ul>
                        <li class="text-warning">Hóa đơn cố định (hdcd+MM+yy)</li>
                        <li class="text-warning">Hóa đơn net (hdnet+MM+yy)</li>
                        <li class="text-warning">Hóa đơn Mytv (hdtv+MM+yy)</li>
                        <li class="text-warning">Hóa đơn di động (hddd+MM+yy)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Xử lý ghép hóa đơn</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-4">Chọn tháng</label>
                        <div class="col-md-8">
                            <select id="time" class="form-control" name="time">
                                @foreach (var item in (List<string>)ViewBag.directory)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <label id="lblTime"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="ckhMerginMonth">
                            <input type="checkbox" id="ckhMerginMonth" name="ckhMerginMonth" value="1" checked />
                            Ghép theo tháng hiện tại
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="1. Tải tệp hóa đơn" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a id="btnPaidProcess" href="#time" class="btn btn-default">2. Xử lý đặt cọc trả tiền trước</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a id="btnMerginSelf" href="#time" class="btn btn-default">3. Ghép hóa đơn lẻ</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a id="btnMergin" href="#time" class="btn btn-default">4. Ghép hóa đơn gộp</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a id="btnCheckMoney" href="#time" class="btn btn-warning">Kiểm tra cước sau khi ghép</a>
                        </div>
                    </div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="col-md-12 text-warning">Tạo file hóa đơn điện tử (HDDT)</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            <input type="checkbox" id="ckhTCVN3" name="ckhTCVN3" value="1" checked />
                            Định dạng TCVN3
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            <input type="checkbox" id="ckhZipFile" name="ckhZipFile" value="1" checked />
                            Nén Zip
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a id="btnGetHDDTBill" href="@Url.Action("GetHDDTBill")" class="btn btn-warning">Tạo Hóa Đơn Điện Tử</a>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-12">
                                <a id="btnMerginSelf" href="#time" class="btn btn-primary">Ghép HD trên tệp</a>
                                <a id="btnMergin" href="#time" class="btn btn-primary">Ghép HDAll</a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</form>
<form id="ImportDatCocTraTruoc" method="post" action="@TM.Url.BaseUrl/MerginBill/ImportDatCocTraTruoc" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Nhập Data Đặt cọc, Trả trước</b></h3>
                </div>
                <div class="panel-body label-center">
                    <div class="form-group col-md-12">
                        <input type="file" id="FileUpload" name="FileUpload" class="file-upload" multiple data-val="true"
                               data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Xử lý</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Tải tệp" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="RemoveDuplicateForm" method="post" action="@TM.Url.BaseUrl/MerginBill/RemoveDuplicate" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Xóa trùng file DBF, Chọn tệp .dbf</h3>
                </div>
                <div class="panel-body label-center">
                    <div class="form-group required">
                        <div class="col-md-12 asterisk">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtAccount" value="account" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtDvi" value="ma_dvi" />
                            </div>
                            <label class="pull-right col-md-6" for="chkIsDvi">
                                <input id="chkIsDvi" type="checkbox" name="chkIsDvi" value="1" />
                                Sử dụng mã đơn vị
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="file" id="FileUpload" name="FileUpload" class="file-upload" multiple data-val="true"
                               data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Xử lý</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Tải tệp DBF" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="GetDuplicate" method="post" action="@TM.Url.BaseUrl/MerginBill/GetDuplicate" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lấy bản ghi trùng DBF, Chọn tệp .dbf</h3>
                </div>
                <div class="panel-body label-center">
                    <div class="form-group required">
                        <div class="col-md-12 asterisk">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtAccount" value="ma_tt" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtDvi" value="ma_dt" />
                            </div>
                            <label class="pull-right col-md-6" for="chkIsDvi">
                                <input id="chkIsDviGetDuplicate" type="checkbox" name="chkIsDvi" value="1" />
                                Sử dụng mã đơn vị
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="file" id="FileUploadGetDuplicate" name="FileUpload" class="file-upload" multiple data-val="true"
                               data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Xử lý</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Tải tệp DBF" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = moment();
                var month = parseInt(date.format('MM')) - 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.format('YYYY');
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        function openLink(obj) {
            obj.e.preventDefault();
            window.location = window.location.href.replace(window.location.search, '') + '/' + obj.action + '?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked') + (obj.query !== undefined ? obj.query : '');
        };

        $(function () {
            MerginMonth();
        })
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        })
        $('#btnMerginSelf').on('click', function (e) {
            openLink({ e: e, action: 'MerginSelf' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/MerginSelf?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        })
        $('#btnPaidProcess').on('click', function (e) {
            openLink({ e: e, action: 'PaidProcess' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/btnPaid?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        })
        $('#btnMergin').on('click', function (e) {
            openLink({ e: e, action: 'Mergin' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/Mergin?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        })
        $('#btnGetHDDTBill').on('click', function (e) {
            openLink({ e: e, action: 'GetHDDTBill', query: '&ckhTCVN3=' + $('#ckhTCVN3').prop('checked') + '&ckhZipFile=' + $('#ckhZipFile').prop('checked') });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/GetHDDTBill?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked') + "&ckhTCVN3=" + $('#ckhTCVN3').prop('checked') + "&ckhZipFile=" + $('#ckhZipFile').prop('checked');
        })
        $('#btnCheckMoney').on('click', function (e) {
            e.preventDefault();
            AjaxLoaddingBounce();
            $.get('@Url.Action("CheckMoney")?time=' + $('#time').val() + '&ckhMerginMonth=' + $('#ckhMerginMonth').prop('checked'),function (d) {
                if (d.success)
                {
                    $('#TMAlert').html('');
                    $('#panelCheckMoney').show();
                    //HDALL
                    $('#all_tong_datcoc span,#ss_all_datcoc').html(d.TotalHDAll.datcoc.format());
                    $('#all_tong_tratruoc span,#ss_all_tratruoc').html(d.TotalHDAll.tratruoc.format());
                    $('#all_tong_dd span,#ss_all_dd').html(d.TotalHDAll.tong_dd.format());
                    $('#all_tong_net span,#ss_all_net').html(d.TotalHDAll.tong_net.format());
                    $('#all_tong_tv span,#ss_all_tv').html(d.TotalHDAll.tong_tv.format());
                    $('#all_tong span,#ss_all_tong').html(d.TotalHDAll.tong.format());
                    $('#all_vat span,#ss_all_vat').html(d.TotalHDAll.vat.format());
                    $('#all_kthue span,#ss_all_kthue').html(d.TotalHDAll.kthue.format());
                    $('#all_gtru span,#ss_all_gtru').html(d.TotalHDAll.gtru.format());
                    $('#all_tongcong span,#ss_all_tongcong').html(d.TotalHDAll.tongcong.format());
                    //HDCD
                    $('#cd_tong span,#ss_hd_cd').html(d.TotalHDCD.tong.format());
                    $('#cd_vat span').html(d.TotalHDCD.vat.format());
                    $('#cd_tongcong span').html(d.TotalHDCD.tongcong.format());
                    //HDDD
                    $('#dd_tong span,#ss_hd_dd').html(d.TotalHDDD.tong.format());
                    $('#dd_kthue span').html(d.TotalHDDD.kthue.format());
                    $('#dd_gtru span').html(d.TotalHDDD.gtru.format());
                    $('#dd_vat span').html(d.TotalHDDD.vat.format());
                    $('#dd_tongcong span').html(d.TotalHDDD.tongcong.format());
                    //HDNET
                    $('#net_datcoc span,#ss_hd_datcoc').html(d.TotalHDNET.datcoc.format());
                    $('#net_tratruoc span,#ss_hd_tratruoc').html(d.TotalHDNET.tratruoc.format());
                    $('#net_tong span,#ss_hd_net').html(d.TotalHDNET.tong.format());
                    $('#net_vat span').html(d.TotalHDNET.vat.format());
                    $('#net_tongcong span').html(d.TotalHDNET.tongcong.format());
                    //HDTV
                    $('#tv_datcoc span,#ss_all_datcoc').html(d.TotalHDTV.datcoc.format());
                    $('#tv_tratruoc span,#ss_all_tratruoc').html(d.TotalHDTV.tratruoc.format());
                    $('#tv_tong span,#ss_hd_tv').html(d.TotalHDTV.tong.format());
                    $('#tv_vat span').html(d.TotalHDTV.vat.format());
                    $('#tv_tongcong span').html(d.TotalHDTV.tongcong.format());

                    //So sánh
                    $('#ss_sum_cd').html((d.TotalHDAll.tong_cd - d.TotalHDCD.tong).format());
                    $('#ss_sum_dd').html((d.TotalHDAll.tong_dd - d.TotalHDDD.tong).format());
                    $('#ss_sum_net').html((d.TotalHDAll.tong_net - d.TotalHDNET.tong).format());
                    $('#ss_sum_tv').html((d.TotalHDAll.tong_tv - d.TotalHDTV.tong).format());
                    $('#ss_sum_datcoc').html((d.TotalHDAll.datcoc - d.TotalHDTV.datcoc).format());
                    $('#ss_sum_tratruoc').html((d.TotalHDAll.tratruoc - d.TotalHDTV.tratruoc).format());

                    var tong = d.TotalHDCD.tong + d.TotalHDDD.tong + d.TotalHDNET.tong + d.TotalHDTV.tong;
                    $('#ss_hd_tong').html(tong.format());
                    $('#ss_sum_tong').html((d.TotalHDAll.tong - tong).format());

                    var vat = d.TotalHDCD.vat + d.TotalHDDD.vat + d.TotalHDNET.vat + d.TotalHDTV.vat;
                    $('#ss_hd_vat').html(vat.format());
                    $('#ss_sum_vat').html((d.TotalHDAll.vat - vat).format());

                    $('#ss_hd_kthue').html(d.TotalHDDD.kthue.format());
                    $('#ss_sum_kthue').html((d.TotalHDAll.kthue - d.TotalHDDD.kthue).format());
                    $('#ss_hd_gtru').html(d.TotalHDDD.gtru.format());
                    $('#ss_sum_gtru').html((d.TotalHDAll.gtru - d.TotalHDDD.gtru).format());

                    var tongcong = d.TotalHDCD.tongcong + d.TotalHDDD.tongcong + d.TotalHDNET.tongcong + d.TotalHDTV.tongcong;
                    $('#ss_hd_tongcong').html(tongcong.format());
                    $('#ss_sum_tongcong').html((d.TotalHDAll.tongcong - tongcong).format());
                }
                else {
                    $('#panelCheckMoney').hide();
                    $('#TMAlert').TMAlert({ type: "error", message: d.danger });
                }
            });
        })
    </script>
}