@model Portal.Models.collected_staff

@{
    ViewBag.Title = "Quản lý địa bàn";
    ViewBag.ContentTitle = "Thêm mới địa bàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {

@Html.AntiForgeryToken()

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-horizontal">
    <hr />
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nhập thông tin</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label setting-label col-md-3" for="local_id">Đơn vị</label>
                    <div class="col-md-9 asterisk">
                        <select name="local_id" class="form-control">
                            @foreach (var item in (List<Portal.Models.local>)ViewBag.local)
                            {
                                <option value="@item.id">@item.title</option>
                            }
                        </select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="local_id" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label setting-label col-md-3" for="id">Mã NVQL</label>
                    <div class="col-md-9 asterisk">
                        <input class="form-control text-box single-line" id="id" name="id" type="number" value=""
                               data-val="true" data-val-required="Vui lòng nhập mã nhân viên quản lý" data-val-number="Mã NVQL phải là số">
                        <span class="field-validation-valid text-danger" data-valmsg-for="id" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label setting-label col-md-3" for="nvql">Nhân viên quản lý</label>
                    <div class="col-md-9 asterisk">
                        <input class="form-control text-box single-line" id="nvql" name="nvql" type="text" value=""
                               data-val="true" data-val-required="Vui lòng nhập tên nhân viên quản lý">
                        <span class="field-validation-valid text-danger" data-valmsg-for="nvql" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label setting-label col-md-3" for="dia_chi">Địa chỉ</label>
                    <div class="col-md-9 asterisk">
                        <input class="form-control text-box single-line" id="dia_chi" name="dia_chi" type="text" value=""
                               data-val="true" data-val-required="Vui lòng nhập địa chỉ">
                        <span class="field-validation-valid text-danger" data-valmsg-for="dia_chi" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label setting-label col-md-3" for="xa_phuong">Xã/Phường</label>
                    <div class="col-md-9 asterisk">
                        <input class="form-control text-box single-line" id="xa_phuong" name="xa_phuong" type="text" value=""
                               data-val="true">
                        <span class="field-validation-valid text-danger" data-valmsg-for="xa_phuong" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label setting-label col-md-3" for="to_thon">Tổ/Thôn</label>
                    <div class="col-md-9 asterisk">
                        <input class="form-control text-box single-line" id="to_thon" name="to_thon" type="text" value=""
                               data-val="true">
                        <span class="field-validation-valid text-danger" data-valmsg-for="to_thon" data-valmsg-replace="true"></span>
                    </div>
                </div>
                @*<div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="orders">Sắp xếp</label>
                        <div class="col-md-3 asterisk">
                            <input class="form-control text-box single-line" id="orders" name="orders" type="number" value="@(Model!=null?Model.orders:0)"
                                   data-val="true" data-val-required="Vui lòng nhập sắp xếp" data-val-number="Sắp xếp phải là số">
                            <span class="field-validation-valid text-danger" data-valmsg-for="orders" data-valmsg-replace="true"></span>
                        </div>
                    </div>*@
            </div>
            @Html.Partial("PanelFooterNotes")
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Thực hiện</h3>
            </div>
            <div class="panel-body">
                <div class="form-group option-label">
                    <label class="col-md-3" for="flag">Trạng thái</label>
                    <div class="checkbox">
                        <label><input type="radio" name="flag" value="1" checked /> @TM.Common.Language.active</label>
                        <label><input type="radio" name="flag" value="0" /> @TM.Common.Language.draft</label>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="@TM.Common.Language.addnew" class="btn btn-primary" />
                <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
            </div>
        </div>
    </div>
</div>
}
@section ScriptForm { @Html.Partial("ScriptForm")}