@model Portal.Areas.tratruoc.Models.eloadUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Upload", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cập nhật từ tệp Excel</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Tháng</label>
                    <div class="col-md-9">
                        <select id="month" name="month" class="form-control">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    Chọn tệp Excel (.xls hoặc .xlsx)
                </div>
                <div class="form-group">
                    <label for="fileUpload">
                        <span class="btn btn-primary">Chọn tệp</span>
                    </label>
                    <input type="file" id="fileUpload" name="fileUpload" class="hidden" />
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="@TM.Common.Language.upload" class="btn btn-primary" />
                <a href="@Url.Action("Index")" class="btn btn-info">@TM.Common.Language.backlink</a>
            </div>
        </div>
    </div>
}
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        $('.datetimepicker').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY',
        });
    </script>
}