
@{
    ViewBag.Title = "Tính cước";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="col-md-12 panel-title">Tính cước MyTv</h3>
<br /><br />
<form action="@Url.Action("UploadMytv")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nhập file</h3>
            </div>
            <div class="panel-body">
                <div class="asterisk">
                    <input type="file" id="FileUpload" name="FileUpload" class="file-upload" multiple data-val="true"
                           data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                    <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Xử lý</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-4">Chọn tháng</label>
                    <div class="col-md-8">
                        <select id="time" class="form-control" name="time">
                            @foreach (var item in (List<string>)ViewBag.directory)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <label id="lblTime"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12" for="ckhMerginMonth">
                        <input type="checkbox" id="ckhMerginMonth" name="ckhMerginMonth" value="1" checked />
                        Ghép theo tháng hiện tại
                    </label>
                </div>
                <div class="col-md-12">
                    <div class="form-group"><button class="btn btn-primary">Tải tệp</button></div>
                    <hr />
                    <div class="form-group"><a id="MYTVUpdateBill" href="javascript:;" class="btn btn-default">1. Nhập File cước lên hệ thống</a></div>

                    <div class="form-group"><a id="MYTVUpdateContact" href="javascript:;" class="btn btn-default">1. Nhập danh bạ</a></div>
                    <div class="form-group"><a id="MYTVTichHop" href="javascript:;" class="btn btn-default">2. Xử lý tích hợp</a></div>
                    <div class="form-group"><a id="MYTVKhuyenMai" href="javascript:;" class="btn btn-default">3. Xử lý khuyến mại</a></div>
                    <div class="form-group"><a id="MYTVCalculate" href="javascript:;" class="btn btn-default">4. Tính cước</a></div>
                    <br />
                    <div class="form-group"><a id="UpdateContact" href="javascript:;" class="btn btn-default">Xử lý tích hợp</a></div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
@section ScriptForm {
    @Html.Partial("ScriptForm")
    <script>
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = moment();
                var month = parseInt(date.format('MM')) - 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.format('YYYY');
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        function openLink(obj) {
            obj.e.preventDefault();
            var a = window.location.href.replace(window.location.search, '') + '/' + obj.action + '?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked') + (obj.query !== undefined ? obj.query : '');
            //console.log(a);
            window.location = a;
        };
        $(function () {
            MerginMonth();
        })
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        });
        $('#MYTVUpdateBill').on('click', function (e) {
            openLink({ e: e, action: 'MYTVUpdateBill' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/MerginSelf?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        });
        $('#MYTVUpdateContact').on('click', function (e) {
            openLink({ e: e, action: 'MYTVUpdateContact' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/MerginSelf?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        });
        $('#MYTVTichHop').on('click', function (e) {
            openLink({ e: e, action: 'MYTVTichHop' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/MerginSelf?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        });
        $('#UpdateContact').on('click', function (e) {
            openLink({ e: e, action: 'UpdateContact' });
            //e.preventDefault();
            //window.location = window.location.href.replace(window.location.search, '') + '/MerginSelf?time=' + $('#time').val() + "&ckhMerginMonth=" + $('#ckhMerginMonth').prop('checked');
        });
    </script>
}