@model PagedList.IPagedList<dynamic>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý IVAN - BHXH";
    ViewBag.ContentTitle = "Danh sách IVAN - BHXH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="pull-left">
    <button onclick="window.location='@Url.Action("Create")'" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> @TM.Common.Language.addnew</button>
</p>
<div class="pull-right mb10 form-inline">
    @Html.Partial("search")
    <div class="pull-right">
        <a href="@Url.Action("Index",new { export = "export"})" class="btn btn-info"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        @if (ViewBag.flag == 0)
        {
            <a href="javascript:;" class="btn btn-info btn-flag btn-chk" data-toggle="tooltip" title="Khôi phục tất cả" style="display:none"><i class="glyphicon glyphicon-refresh"></i></a>
            if (Authentication.Auth.isAuth && Authentication.Auth.inRoles(new string[] { Authentication.Roles.admin, Authentication.Roles.superadmin }))
            {
                <a href="javascript:;" class="btn btn-danger btn-trash btn-chk" data-toggle="tooltip" title="Xóa vĩnh viễn" style="display:none"><i class="glyphicon glyphicon-remove"></i></a>
            }
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 1 })" class="btn btn-default" data-toggle="tooltip" title="Hiển thị sử dụng"><i class="glyphicon glyphicon-th-list"></i></a>
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 0 })" class="btn btn-default active" data-toggle="tooltip" title="Hiển thị nháp"><i class="glyphicon glyphicon-retweet"></i></a>
        }
        else
        {
            <a href="javascript:;" class="btn btn-danger btn-flag btn-chk" data-toggle="tooltip" title="Xóa tất cả" style="display:none"><i class="glyphicon glyphicon-trash"></i></a>
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 1 })" class="btn btn-default active" data-toggle="tooltip" title="Hiển thị sử dụng"><i class="glyphicon glyphicon-th-list"></i></a>
            <a href="@Url.Action("Index",new { datetime = ViewBag.datetime, datetimeType = ViewBag.datetimeType, order = ViewBag.order, searchString = ViewBag.currentFilter, flag = 0 })" class="btn btn-default" data-toggle="tooltip" title="Hiển thị nháp"><i class="glyphicon glyphicon-retweet"></i></a>
        }
    </div>
</div>
<div class="clearfix"></div>
<div class="pull-right mb10">
    @{
        var datetime = ViewBag.datetime != null ? ((string)ViewBag.datetime).Split('-') : new string[0];
    }
    <form id="frmSearchDatetime" method="get" action="" class="form-inline">
        <div class="input-group date startDate">
            <input type="text" class="form-control" id="started_at" name="started_at" autocomplete="off" placeholder="Nhập ngày bắt đầu" data-toggle="tooltip" data-placement="bottom" title="Nhập ngày bắt đầu" value="@(datetime.Length>0?datetime[0]:"")" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="input-group date endDate end_at">
            <input type="text" class="form-control" id="ended_at" name="ended_at" autocomplete="off" placeholder="Nhập ngày kết thúc" data-toggle="tooltip" data-placement="bottom" title="Nhập ngày kết thúc" value="@(datetime.Length>1?datetime[1]:"")" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <a id="SearchDatetime" href="javascript:;" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a>
        <div class="btn-group datetimeType" data-toggle="buttons">
            <label data-val="0" class="btn btn-warning @(ViewBag.datetimeType != null ? (ViewBag.datetimeType == 0 ? "active" : "") : "active")">
                <input type="radio" name="datetimeType" value="0" autocomplete="off"> Ngày tạo
            </label>
            <label data-val="1" class="btn btn-warning @(ViewBag.datetimeType != null ? (ViewBag.datetimeType == 1 ? "active" : "") : "")">
                <input type="radio" name="datetimeType" value="1" autocomplete="off"> Ngày sửa
            </label>
        </div>
    </form>
</div>
<div class="clearfix"></div>
@if (Model == null || Model.Count < 1)
{
    <div class="alert alert-warning" role="alert">@TM.Common.Language.emptydb</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-head">
            <thead>
                <tr>
                    @*<th class="tbl-index">STT</th>*@
                    <th>
                        @Html.ActionLink("Mã số thuế", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "codekey_asc" ? "codekey_desc" : "codekey_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th>
                        @Html.ActionLink("Tên khách hàng", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "title_asc" ? "title_desc" : "title_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th>
                        @Html.ActionLink("Nhân viên Đ.K", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "staff_asc" ? "staff_desc" : "staff_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th>
                        @Html.ActionLink("Loại DV (Tháng)", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "groupname_asc" ? "groupname_desc" : "groupname_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    @*<th>
                             @Html.ActionLink("Tháng", "Index",
                        new
                        {
                            order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "level_asc" ? "level_desc" : "level_asc",
                            currentFilter = ViewBag.currentFilter,
                            flag = ViewBag.flag,
                            datetime = ViewBag.datetime,
                            datetimeType = ViewBag.datetimeType,
                        })
                         </th>*@
                    <th>
                        @Html.ActionLink("Phí", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "price_asc" ? "price_desc" : "price_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th>
                        @Html.ActionLink("Đơn vị", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "donvi_asc" ? "donvi_desc" : "donvi_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th>
                        @Html.ActionLink("T.T Tạo", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "quantity_asc" ? "quantity_desc" : "quantity_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th>
                        @Html.ActionLink("Ngày tạo", "Index",
                   new
                   {
                       order = TM.Url.getQueryString("order") != null && TM.Url.getQueryString("order") == "createdat_asc" ? "createdat_desc" : "createdat_asc",
                       currentFilter = ViewBag.currentFilter,
                       flag = ViewBag.flag,
                       datetime = ViewBag.datetime,
                       datetimeType = ViewBag.datetimeType,
                   })
                    </th>
                    <th class="tbl-checkbox">
                        <label><input type="checkbox" name="checkboxs" value="all" class="chkall" /></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @*@{int index = 0;}*@
                @foreach (dynamic item in (IEnumerable<dynamic>)Model)
                {
                    //index += 1;
                    <tr id="@item.id">
                        @*<td class="center">@(index + (Model.PageNumber - 1) * Model.PageSize)</td>*@
                        <td>
                            <a href="@Url.Action("Edit/"+item.id,"IVAN",new { area="dvcntt"})">@item.codekey</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit/"+item.id,"IVAN",new { area="dvcntt"})">@item.title</a>
                        </td>
                        <td>@item.staff</td>
                        <td>
                            @item.groupname (@item.level) @(item.hasToken == "1" ? Html.Raw("<label class=\"label label-warning\">Thiết Bị</label>") : null)
                        </td>
                        @*<td>
                                <a href="@Url.Action("Edit/"+item.id,"ktr",new { area="dvcntt"})">@item.level</a>
                            </td>*@
                        <td class="priceVND">@item.price</td>
                        <td> @item.donvi</td>
                        <td>
                            @if (item.quantity == 0)
                            {
                                <span class="label label-warning">Tạo mới</span>
                            }
                            else
                            {
                                <span class="label label-warning">Gia hạn</span>
                            }
                        </td>
                        <td>
                            @(((DateTime?)item.createdat).HasValue ? ((DateTime?)item.createdat).Value.ToString("dd/MM/yyyy hh:mm") : TM.Common.Language.emptyvl)
                        </td>
                        <td class="tbl-checkbox">
                            <label><input type="checkbox" name="checkbox" value="@item.id" class="chkitem" /></label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination-list">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount trong tổng số (@ViewBag.TotalRecords bản ghi)
        @Html.PagedListPager(Model, page => Url.Action("Index",
                         new
                         {
                             page,
                             order = ViewBag.order,
                             currentFilter = ViewBag.currentFilter,
                             flag = ViewBag.flag,
                             datetime = ViewBag.datetime,
                             datetimeType = ViewBag.datetimeType
                         }))
    </div>
}
@section ScriptList { @Html.Partial("ScriptList")}