<form id="IVANCreate" method="post" action="@Url.Action("Create","IVAN")">
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Đăng ký - Gia hạn IVAN</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="groupID">Gói dịch vụ</label>
                        <div class="col-md-9 asterisk">
                            <select id="groupID" name="groupID" class="form-control">
                                <option value="0" data-price="0" selected>-- Chọn gói dịch vụ--</option>
                                @foreach (var item in (List<Portal.Models.group>)ViewBag.IvanList)
                                {
                                    <option value="@item.id" data-price="@item.parent_id" data-extra="@item.extras">@item.level Tháng - @item.title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="priceExtra">Thiết bị</label>
                        <div class="col-md-9 asterisk">
                            <select id="extraID" name="extraID" class="form-control">
                                <option value="0" data-price="0">-- Không thiết bị --</option>
                                @foreach (var item in (List<Portal.Models.group>)ViewBag.TokenList)
                                {
                                    <option value="@item.id" data-price="@item.parents_id">@item.title V.@item.level</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row ichecking">
                        <label class="control-label col-md-3">Giá (Chưa thuế)</label>
                        <label class="control-label col-md-3"><span id="IvanPrice"></span> <span>VNĐ</span></label>
                    </div>
                    <div class="form-group row ichecking">
                        <label class="control-label col-md-3">Giá Token (Chưa thuế)</label>
                        <label class="control-label col-md-3"><span id="TokenPrice"></span> <span>VNĐ</span></label>
                    </div>
                    <div class="form-group row ichecking">
                        <label class="control-label col-md-3">Tổng (Chưa thuế)</label>
                        <label class="control-label col-md-3"><span id="TotalPrice"></span> <span>VNĐ</span></label>
                    </div>
                    <div class="form-group row ichecking">
                        <label class="control-label col-md-3">Thuế (VAT 10%)</label>
                        <label class="control-label col-md-3"><span id="VatPrice"></span> <span>VNĐ</span></label>
                    </div>
                    <div class="form-group row ichecking">
                        <label class="control-label col-md-3">Tổng cộng</label>
                        <label class="control-label col-md-3"><span id="TotalAmountPrice"></span> <span>VNĐ</span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" id="btnUpdate" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="customerID" value="" />
    </div>
    <script>
        //
        $('#btnUpdate').off('click').on('click', function (e) {
            e.preventDefault();
            $.post('@Url.Action("Create", "IVAN")', $('#IVANCreate').serialize(), function (d) {
                if (d.success)
                    $('#TMAlert').TMAlert({ type: "success", message: d.success });
                else
                    $('#TMAlert').TMAlert({ type: "error", message: d.danger });
                $('#groupID')[0].selectedIndex = 0;
                $('#extraID')[0].selectedIndex = 0;
                getChecked({ val: 0, ichecking: '.ichecking' });
            })
        })
        //
        //ichecking
        getChecked({ val: $('#groupID option:selected').val(), ichecking: '.ichecking' })
        $('#groupID').change(function () {
            getChecked({ val: $(this).val(), ichecking: '.ichecking' })
        });
        function getChecked(obj) {
            if (obj.val == 0) $(obj.ichecking).hide();
            else $(obj.ichecking).show();
        };
        //
        var IvanList = $('#groupID option:selected');
        var TokenList = $('#extraID option:selected');
        var IvanPrice = '#IvanPrice',
            TokenPrice = '#TokenPrice',
            TotalPrice = '#TotalPrice',
            VatPrice = '#VatPrice',
            TotalAmountPrice = '#TotalAmountPrice'
        getPrice({
            selected: IvanList,
            IvanPriceSelected: parseFloat(IvanList.attr('data-price')),
            TokenPriceSelected: parseFloat(TokenList.attr('data-price')),
            IvanPrice: IvanPrice,
            TokenPrice: TokenPrice,
            TotalPrice: TotalPrice,
            VatPrice: VatPrice,
            TotalAmountPrice: TotalAmountPrice
        })
        //
        $('#groupID').change(function () {
            IvanList = $('#groupID option:selected');
            getPrice({
                selected: IvanList,
                IvanPriceSelected: parseFloat(IvanList.attr('data-price')),
                TokenPriceSelected: parseFloat(TokenList.attr('data-price')),
                IvanPrice: IvanPrice,
                TokenPrice: TokenPrice,
                TotalPrice: TotalPrice,
                VatPrice: VatPrice,
                TotalAmountPrice: TotalAmountPrice
            });
        });
        $('#extraID').change(function () {
            TokenList = $('#extraID option:selected');
            getPrice({
                selected: IvanList,
                IvanPriceSelected: parseFloat(IvanList.attr('data-price')),
                TokenPriceSelected: parseFloat(TokenList.attr('data-price')),
                IvanPrice: IvanPrice,
                TokenPrice: TokenPrice,
                TotalPrice: TotalPrice,
                VatPrice: VatPrice,
                TotalAmountPrice: TotalAmountPrice
            });
        });
        //
        function getPrice(obj) {
            var ivan = obj.IvanPriceSelected;
            var token = obj.TokenPriceSelected;
            var total = ivan + token;
            var vat = total / 10;
            $(obj.IvanPrice).html(ivan.format());
            $(obj.TokenPrice).html(token.format());
            $(obj.TotalPrice).html(total.format());
            $(obj.VatPrice).html(vat.format());
            $(obj.TotalAmountPrice).html((total + vat).format());
        }
    </script>
</form>